[2019-01-04 20:53] alexellis opened #3 "Add synchronization"
Due to the async nature of websockets used in inlets some synchronization is needed between requests and responses under high, concurrent load. At low levels of concurrent traffic this doesn't seem to be necessary.

Working prototype here ready to be back-ported: https://github.com/alexellis/pubsub

[2019-01-04 20:54] alexellis opened #4 "Add basic token for tunnel auth"
Either add basic auth or an symmetric API token to guard the `/ws` endpoint when published to a public network to prevent tampering.

[2019-01-06 15:17] alexellis opened #6 "Inject SHA"
The SHA from the git repo should be injected into the binary via LDARGS - see openfaas/faas-cli for an example of this.

Commits must be made with `git commit -s`.

Scope:
* Makefile (make dist) (make docker)

[2019-01-06 15:18] alexellis commented on #4
Derek close: released

[2019-01-06 15:18] #4 closed

[2019-01-06 15:20] alexellis opened #7 "Switch from go/flags to Cobra"
Move from the Golang flags package for the CLI options to Cobra.

Example/more details:

https://blog.alexellis.io/5-keys-to-a-killer-go-cli/

openfaas/faas-cli is a good sample to follow, or alexellis/jaas which is much smaller.

-server=true/false would become a sub-command along with client

[code]

The changes should also cover the README.md / instructions.

Use `git commit -s` for commits.

[2019-02-05 21:09] vielmetti opened #10 "Port to arm64"
Add a line to the Makefile to generate an arm64 binary, at

https://github.com/alexellis/inlets/blob/master/Makefile#L8

using the Go configuration from https://github.com/golang/go/wiki/GoArm#supported-architectures to pick the correct architecture.

[2019-02-19 11:24] matthiasg opened #13 "Feature request: Websocket tunnelling"
Since it is already based on WebSockets, actually also allowing WebSockets should be rather simple to add too right ?

I am specifically thinking of enabling e.g connecting to a node.js inspector port (with some cookie/session/ip based authentication on the frontend for example etc) which would require HTTPS and WebSockets.

[2019-02-19 22:48] vanhalt opened #15 "[Question] Upstream is returning 301 and proxy returns the redirected URL"
Hello,

We are trying to use your program as a replacement for Ngrok. Right now we have a Rails application that redirects to` http://lvh.me:3000 `since we need that domain for the use of subdomains.

So basically this is what happened:

[code]

and...:

[code]
So we are stucked right now. Sorry for this being a real newbie question... if you can at least point us in the right direction that would

[2019-02-20 13:41] pascalandy opened #16 "typo"
sha256sum:

[code]

Cheers!

[2019-02-20 21:39] alexellis commented on #16
Hey can you provide a bit more detail please?

Hope you're good Andy :)

Alex

[2019-02-20 22:25] alexellis commented on #16
I tried both `shasum` commands on Linux and it appeared to work?

[2019-02-20 22:55] pascalandy commented on #16
Humm, iI tried and it didn't work here. This was in a custom alpine container I use all the time. Maybe it's because I need to install shasum as well?

Anyways, it's working on your machine :) I'll close.

[2019-02-20 22:55] #16 closed

[2019-02-20 23:15] alexellis commented on #16
On Alpine busybox you do need to use sha256sum, but MacOS / "Linux" usually has bash and `shasum`.

https://github.com/openfaas/cli.openfaas.com/blob/master/get.sh#L37

It's possible to figure this out, but it's a bit verbose ^

Thanks for trying out the project :+1:

[2019-02-21 06:41] jhnferraris opened #18 "Question: Difference between ngrok and inlet"
Hello, this is a nice tool. I would like to ask though, what's the difference between using inlet vs using [ngrok](https://ngrok.com/)?

[2019-02-21 09:39] RaviTezu commented on #18
The intro [section](https://github.com/alexellis/inlets#intro) of the README.md file has some information on this.

[2019-02-21 10:02] alexellis commented on #10
Derek close: fixed

[2019-02-21 10:02] #10 closed

[2019-02-21 10:02] alexellis commented on #18
Thanks @RaviTezu

[2019-02-21 10:02] alexellis commented on #18
Derek close

[2019-02-21 10:02] #18 closed

[2019-02-21 10:14] RaviTezu commented on #7
@alexellis I would like to take this unless someone is already working on it.

[2019-02-21 12:31] alexellis commented on #7
Thanks perhaps we need to merge #12 first?

[2019-02-21 12:33] alexellis commented on #15
Thanks for your interest in inlets. What was the expected and actual result?

Alex

[2019-02-21 12:34] alexellis commented on #3
PR raised https://github.com/alexellis/inlets/pull/12

[2019-02-23 09:36] alexellis opened #22 "get.sh for installation via curl"
## Expected Behaviour

We should write/create a multi-arch get.sh for installation via curl

[code]

This would mirror the approach taken with the OpenFaaS CLI. https://github.com/openfaas/cli.openfaas.com/blob/master/get.sh

## Current Behaviour

Download from releases page

[2019-02-23 09:37] alexellis opened #23 "Feature request: Publish a binary for Windows"
## Expected Behaviour

Publish a binary for Windows.

## Current Behaviour

Untested and no binary available

## Possible Solution

Update the Makefile in the `dist` section

[2019-02-23 09:40] alexellis commented on #15
@vanhalt please give instructions to reproduce whatever you are observing. It's unclear from your report.

[code]

Perhaps you can fill out the template?

Alex

[2019-02-23 09:44] alexellis commented on #7
@RaviTezu please go ahead and raise your PR 👍

See the contributing guide too on how to sign-off commits with `git commit --sign-off`.

[2019-02-23 09:46] alexellis commented on #3
Derek close: merged and released

[2019-02-23 09:46] #3 closed

[2019-02-23 09:47] alexellis commented on #13
Hi @matthiasg I think that would take some additional work and perhaps some re-designing of the code which is currently serialising individual http requests and responses down the websocket tunnel. Have you tried using an ssh tunnel or port-forwarding?

[2019-02-23 10:01] mylxsw opened #24 "Not support multiple clients with one server"
Not support multiple clients with one server

## Expected Behaviour

When we start 2 clients, the server will be able to distinguish which client to deal the request from user.

## Current Behaviour

If 2 clients connected to one server, then all traffic  will be proxied to the 2 client randomness.

## Possible Solution

The server distinguish the request by hostname, and the clients exchange it's

[2019-02-23 10:02] alexellis commented on #24
Can you try the latest release and see if this is still the case? The latest release has some synchronisation.

[2019-02-23 10:23] mylxsw commented on #24
What I mean is not multiple user request, but multiple host node connected to server using websocket, and the server do not know swhich host node should handle the request.

Maybe this image will help you understand my question.

![](https://ssl.aicode.cc/Xnip2019-02-23_18-16-52.jpg)

[2019-02-23 10:30] alexellis commented on #24
Thank you for the diagram I use them a lot and I find them really useful.

In your example both nodes are resolving different subdomains and that data is published in the request from the inlets exit node. in this specific scenario that means that only one of the inlets clients needs to respond.

[2019-02-23 10:35] mylxsw commented on #24
Yes, that's what I want to say.

[2019-02-23 12:50] RaviTezu commented on #7
Thanks @alexellis I will start on this.

[2019-02-23 13:54] alexellis commented on #7
Awesome, please see how it was done for the OpenFaaS CLI https://github.com/openfaas/faas-cli

[2019-02-24 03:44] woky opened #26 "[RFE] Comparison with SSH forwarding in documentation"
I was reading documentation seeking comparison with SSH forwarding to find out benefits, but couldn't find any mention. Could you please compare inlets to SSH tunnels?

[2019-02-24 08:52] #22 closed

[2019-02-25 09:55] martindekov opened #29 "Connection refused from inside internal network"
I work in company which has network for internal use aka you need VPN(Global protect) enabled and guest network which is for public usage. Trying to expose my minikube OpenFaaS gateway service results in
[code]

## Expected Behaviour

Expose my gateway OF Kubernetes service to be accessed from the public internet through the IP of my machine and the exposed port.

## Current Behaviour

I get `pani

[2019-02-25 22:19] alexellis commented on #26
Please see the [goals](https://github.com/alexellis/inlets#goals) of the project for a detailed breakdown.

If ssh tunnelling is sufficient for your use-case, it's also a good option.

Thanks for your interest.

[2019-02-25 22:19] #26 closed

[2019-02-25 22:20] alexellis commented on #29
What happened on the guest network?

Could you connect to your exit-node under any other circumstance and what TLD are you using for your domain?

Alex

[2019-02-26 10:35] atefBB commented on #23
Any news about this issue?

[2019-02-26 10:40] alexellis commented on #23
The news is that help is wanted, this needs a community contribution to edit the Makefile.

[2019-02-26 21:28] alexellis opened #30 "make dist should strip binary to reduce output size"
## Expected Behaviour

The `make dist` command should strip binary to reduce output size.

## Current Behaviour

It doesn't, so our binaries are large than they need to be.

## Possible Solution

See openfaas/faas-cli for how we do this.

## Steps to Reproduce (for bugs)

0. Clone repo
1. `make dist`

[2019-02-27 08:03] alexellis opened #31 "Publish binary & Docker image upon git "release""
## Expected Behaviour

Upon creating a GitHub release Travis should be triggered to:
* publish and save binaries
* push a Docker image

## Current Behaviour

This is done manually.

## Possible Solution

Copy the approach of openfaas/faas-cli

The last step will require me to configure the Docker Hub push secret and GitHub releases secret, but the community can prepare 90% of the work. Copying the

[2019-02-27 08:08] alexellis commented on #24
Please try the latest version and specifically map the dns address in the `-upstream` flag.

[2019-02-27 08:24] alexellis commented on #30
Derek close: fixed in 0.5.4

[2019-02-27 08:24] #30 closed

[2019-02-27 08:24] alexellis commented on #31
Derek reopen

[2019-02-27 08:25] alexellis commented on #23
@rleungx you did a good job with the last PR with versioning, would you like to take this?

[2019-02-27 09:29] atefBB commented on #23
Thanks, I have no idea how to solve it.

[2019-02-27 15:01] rleungx commented on #23
@alexellis Sure.

[2019-02-28 00:52] hugomd commented on #31
I'm keen to pick this up @alexellis 👍

Also, out of interest, what's the reasoning for using Alpine as the base image rather than 'scratch`?

[2019-02-28 02:32] s8sg commented on #31
@hugomd I was already in it, expecting PR by today. If you wanna going to go ahead please give me a knock, I'll pick something else. :)

[2019-02-28 03:10] hugomd commented on #31
@s8sg If you're already working on it then keep going at it! I'll find something else to do 👍

[2019-02-28 03:23] dchaofei opened #35 "Consider replacing CMD with ENTRYPOINT?"
## Expected Behaviour
I hope to execute `docker run alexellis2/inlets -h` can output normally.

## Current Behaviour
[code]

## Possible Solution
Modify CMD to ENTRYPOINT in Dockerfile

[2019-02-28 08:22] alexellis commented on #35
You need to run:

[code]

I don't like `ENTRYPOINT` because it's so hard to override in derived images or for debugging. We need to put inlets in the `PATH` though so we can do:

[code]

The latest tag is not published/updated btw.

[2019-02-28 08:36] dchaofei commented on #35
thank you for your reply.

[2019-02-28 08:36] #35 closed

[2019-02-28 08:51] alexellis opened #37 "Add brew recipe for inlets / MacOS"
## Expected Behaviour

For Mac users:

[code]

## Current Behaviour

On MacOS We can use the the curl/sh approach.

## Possible Solution

Copy the approach from the OpenFaaS CLI and adapt as required

https://github.com/Homebrew/homebrew-core/blob/master/Formula/faas-cli.rb

https://github.com/openfaas/faas-cli/blob/master/CONTRIBUTING.md#how-to-update-the-brew-formula

[2019-02-28 08:58] alexellis commented on #35
Would you like to do a PR to `Dockerfile` so that we have `inlets` built into `/usr/local/bin/`?

[2019-02-28 09:01] alexellis commented on #31
Binary is now being released via: https://github.com/alexellis/inlets/releases/tag/0.5.6

[2019-02-28 09:01] alexellis commented on #31
@hugomd

I'm curious why you think `scratch` would be more suitable?

[2019-02-28 09:09] alexellis commented on #35
I've moved things to use `ENTRYPOINT` per your suggestion cc @LucasRoesler and also moved inlets into the `PATH` and made the Docker image non-root.

[2019-02-28 09:46] alexellis commented on #37
Closed via: https://github.com/Homebrew/homebrew-core/pull/37420

[2019-02-28 10:21] alexellis commented on #37
@fxcoudert I think this is ready now, PTAL.

[2019-02-28 11:33] alexellis opened #38 "Docs: show example of inlets over SSH tunnel"
## Expected Behaviour

Docs: show example of inlets over SSH tunnel

## Current Behaviour

inlets does not do link encryption unless it is fronted by a reverse-proxy with SSL enabled.

## Possible Solution

Document how to set up a port-forwarding ssh connection so that inlets can connect on 127.0.0.1 as the -remote address and use the default encryption  of ssh.

i.e.

[code]

[2019-02-28 16:42] alexellis commented on #29
@martindekov

[2019-03-01 06:48] martindekov commented on #29
Sorry alex for the late response, but was not in VMware office for the last 4 days will be today and will let you know what I did

[2019-03-01 12:35] martindekov commented on #29
No matter the network I tried them all(wifi guest/internal cable)

Yep I can connect to http://127.0.0.1:31112/ or http://<minikube_ip>:31112/ and I don't use TLD, just direct IP.

I do the command as I pointed in the issue
[code]

I can access the OF Gateway through the upstream URL `http://<minikube_ip>:31112` but from my phone or computer I cant through my computer Ipv4 IP address

[2019-03-01 13:18] martindekov commented on #29
I did not run `hash-brow` example as I needed the inlets as client between the OF gateway and telephone for example.

[2019-03-02 03:12] hugomd commented on #31
@alexellis Typically `scratch` images are smaller than those based on Alpine, and if all we need from Alpine is the certificates we can add another stage to install the certificates and then copy them over to a scratch image. 🐳

[2019-03-02 07:32] matthiasg commented on #13
@alexellis i am looking for a solution to make some virtual machines hidden behind haproxy debuggable on-demand without messing with the haproxy config at runtime for this. having a more dynamic 'routing' layer that i could secure would be nice.

[2019-03-02 09:14] alexellis commented on #31
Alpine Linux is about as minimal as it gets (1MB as a compressed layer?), plus it's much cleaner to add the certs by using `apk`.

[2019-03-02 09:15] alexellis commented on #31
Derek close: released

[2019-03-02 09:15] #31 closed

[2019-03-02 09:15] alexellis commented on #38
@hugomd want to take this?

[2019-03-02 11:06] hugomd commented on #38
@alexellis I'll give it a go! 👍

[2019-03-02 17:54] alexellis commented on #38
LMK if you have questions. It's just using the port-forwarded SSH connection instead of a remote port to establish the web-socket.

[2019-03-02 17:56] alexellis commented on #29
Just to prove it's not the VMware network, can you try this at home?

[2019-03-03 09:05] gedw99 opened #39 "question about running this at home with 3 node topology."
Here is my proposed physical topology.

Topology:
1. Cloud Gateway Proxy
2. Home Gateway. Also running pihole. Just set the main router to use this node for DNS resolution.
3. Compute nodes -  raspberry pi's inside running all my stuff.

This allows all the Compute nodes to be 100% just doing what they do, without any reliance on the inlets code and also no chance of security slips.

Home gateway

[2019-03-03 15:49] martindekov commented on #29
Ok, maybe I am doing something wrong, I get `bad handshake` now. Exact steps I do are
1. Two terminals No1. No2.
1.1 Terminal 1: `sudo inlets -server=true -port=80`
1.2 Terminal 2: `sudo inlets -server=false  -remote=188.124.78.43:80  -upstream=http://192.168.189.237:31112/`

I am exposing my minikube instance. What am I doing wrong? Disabled the gateway basic-auth before that I got the error ment

[2019-03-03 23:23] martindekov commented on #29
With the `hash-browns`:

1. Open three terminals `No1` `No2` `No3`
2. Run `hash-browns` like pointed in docs `port=3000 go run server.go`
3. `curl` localhost:
[code]
4. Get public IP:
[code]
5. Run `inlets`:
[code]

Actually in here I noticed it just gives `connection refused` even without curling the endpoint. Note I made sure to erase every process running on port `:80`

[2019-03-05 21:01] dazzag24 opened #40 "provision-scaleway.sh service not starting"
provision-scaleway.sh script provisions instance, installs inlets, but service is not running after completion.

[code]

Workaround:  Login into instance and run inlets manually.

inlets -server=true -port=80 -token=${AUTHTOKEN}

[2019-03-05 21:09] alexellis commented on #40
Thanks for reporting the issue. Cc @rgee0

[2019-03-05 21:09] alexellis commented on #40
What are the logs from journalctl?

[2019-03-05 21:13] dazzag24 commented on #40
Nothing very useful as far as I can tell:

[code]
Repeats over and over

[2019-03-05 21:30] rgee0 commented on #40
The get script puts the binary in a location that the service file isnt expecting

[2019-03-05 21:32] dazzag24 commented on #40
Ah so it does.
exe is installed to /usr/local/bin/inlets
whereas service file has:
ExecStart=/usr/bin/inlets -server=true -port=80 -token="${AUTHTOKEN}"

[2019-03-06 09:17] #40 closed

[2019-03-06 09:18] alexellis commented on #40
We should be good now with the change from @rgee0 - thanks Richard 👍

[2019-03-06 10:36] dazzag24 commented on #40
Thanks for the swift resolution.
However, some time this morning scaleway seem to have removed all images that are compatible with the START1-XS size VM ;-(

It was working earlier this morning!

[code]
I will contact scaleway support.

[2019-03-06 13:32] dazzag24 commented on #40
The ubuntu-mini-xenial-25g image has reappeared so I can confirm that this fix addresses the problem.
Thanks!

[2019-03-11 12:27] alexellis opened #42 "Keep-alive through use of ping/pong"
## Expected Behaviour

When there are long periods of inactivity the WS tunnel should remain up.

## Current Behaviour

It appears that it sometimes stops responding. I believe this is because we don't have a WS PING/PONG setup in the client/server.

## Possible Solution

Implement a ping / pong as per Gorilla examples or as per Rancher's Norman library.

https://github.com/gorilla/websocket/tree/

[2019-03-11 12:28] alexellis commented on #39
Sounds good. Let us know how you get on 👍

[2019-03-11 12:28] #39 closed

[2019-03-12 08:30] #7 closed

[2019-03-12 08:43] alexellis opened #44 "Produce SHA hashes of each binary"
We should produce SHA hashes of each binary for each release so that users can verify their download.

## Expected Behaviour

* Generate SHA for each binary
* Attach to releases page

## Current Behaviour

Not available

## Possible Solution

Copy approach used for faas-cli -> https://github.com/openfaas/faas-cli/blob/master/ci/hashgen.sh

And update .TRAVIS.yml for the assets to collect.

[2019-03-12 09:20] alexellis opened #46 "Feature: Logo needed for inlets"
It would be great if someone wanted to design and donate a logo to the project.

inlets is an English word which speaks of multiple channels of water coming in from the sea.

More here:

https://en.wikipedia.org/wiki/Inlet

Title:

Desc:

[2019-03-12 09:50] #44 closed

[2019-03-12 14:58] #42 closed

[2019-03-12 15:00] alexellis commented on #42
/close

[2019-03-12 15:00] alexellis commented on #42
FYI @alexellis @kenfdev

[2019-03-12 15:00] alexellis commented on #42
/close

[2019-03-13 05:58] Hokutosei commented on #23
any update on this?
currently
`cannot execute binary file: Exec format error`

thank you!

[2019-03-13 07:59] Hokutosei opened #48 "Failed to connect on exit node running inlets from docker port 8005: but Connection refused"
Failed to connect on exit node running inlets from docker port 8005: but Connection refused

## Expected Behaviour
should be able to access the exit node by inlet running inside docker

## Possible Solution

## Steps to Reproduce (for bugs)

1.  run inlet from Exit node via docker `docker run --rm -p 9020:9020 alexellis2/inlets:0.5.4 ./inlets server --port=9020 `
2. run inlet from Host node via do

[2019-03-13 08:04] alexellis commented on #48
Thanks for your interest in inlets.

Can you access http://172.16.80.81:8005 via a container? Normally your docker containers need need be on the same docker network then you can address them by DNS service discovery.

[2019-03-13 08:05] alexellis commented on #48
/add label: support

[2019-03-13 08:46] Hokutosei commented on #48
@alexellis thank you for the response.. `http://172.16.80.81:8005` is the same network with my docker that runs inlet.. same problem with

`docker run -d alexellis2/inlets:0.5.4 ./inlets client --remote=<public_ip>:9020 --upstream=http://0.0.0.0:8005

[2019-03-13 08:50] Hokutosei commented on #48
also, the weirdest part is, the response error `Failed to connect to <PUBLIC_IP> port 9020: Connection refused` after I do curl to my remote docker server running inlet.. this just means, server isn't really running..

but running inlets without docker, I can access it.
[code]

[2019-03-13 08:50] alexellis commented on #48
I don't think I was clear.

[code]

[2019-03-13 08:52] #48 closed

[2019-03-13 08:52] alexellis commented on #48
I'm going the close the issue because there is no issue with inlets, this is a user-support question related only to networking configuration.

Feel free to keep commenting.

[2019-03-13 08:57] Hokutosei commented on #48
thanks.. but I think I am not explaining my problem really well. will look on to this more..

[2019-03-13 09:02] alexellis commented on #48
You can run inlets on your host or in a Docker container. If using Docker then you must use an IP or DNS entry for upstream that is accessible by the container in which it is running. I suspect that you have misconfigured your networking. @kenfdev is using a Docker image with OpenFaaS for instance.

[2019-03-13 15:44] gedw99 opened #49 "Webrtc instead of websockets ?"
There is a complete webrtc stack in golang.
The data channel would be more efficient that websockets and provide full duplex communication.

The other thing it does is remove the need for a cloud server for buddy coding or other P2P use cases. The cloud just sets the connection between the two peers and then is not needed.

This could then encapsulate http or other protocols

The GitHub org is cal

[2019-03-13 15:45] gedw99 commented on #49
https://github.com/rtctunnel/rtctunnel

[2019-03-14 18:21] vanhalt commented on #15
## Expected Behaviour
We are trying to use your program as a replacement for Ngrok. Right now we have a Rails application that redirects tohttp://lvh.me:3000since we need that domain for the use of subdomains.

So the expected behaviour is the following:
- Start inlets as a ´server´ in ´remote´ host
- Start inlets as a ´client´ in local host pointing to local Rails server
- Access on browser ´remo

[2019-03-21 12:54] gedw99 opened #50 "etcd with inlets for discovery."
I am using weaver.
https://github.com/gojektech/weaver/

It runs on minikube and k8.
Its is a rL7 reverse proxy that can do Authorisation and route the calls down to the different Containers based on rules engines.
It uses Etcd for discovery of the containers
It does not need to be manually reloaded.

I am thinking of using it with inlets.
intlets can do the TLS ( CertMagic) and then forward reque

[2019-03-24 20:12] alexellis commented on #50
Derek close

[2019-03-24 20:12] #50 closed

[2019-03-24 20:14] alexellis commented on #50
Hi @gedw99 using etcd for service discovery is not on the roadmap right now, but thanks for the suggestion.

Using Kubernetes for service discovery is something I've put on the roadmap however, which may be equivalent for you in due course?

https://github.com/alexellis/inlets#stretch-goals

In the meantime I think you would possibly be able to use inlets with weaver where inlets is the exit node

[2019-03-24 20:14] alexellis commented on #49
Derek close

[2019-03-24 20:14] #49 closed

[2019-03-24 20:15] alexellis commented on #49
Thanks for the suggestion. I'll look into webrtc when I get time, but for the time-being I think web sockets are going to be the way inlets works.

[2019-03-24 20:16] alexellis commented on #38
Hi @hugomd we're about 4 weeks in now, are you still working on this? Do you need any help?

Alex

[2019-03-24 20:16] alexellis commented on #37
@johnmccabe is helping with this presently - adding e2e tests with Ruby for the the Formula.

[2019-03-25 09:27] alexellis commented on #37
Latest PR: https://github.com/Homebrew/homebrew-core/pull/38235

[2019-03-25 19:01] jojomi opened #51 "Client fails with segmentation violation"
I can't connect with a client.

## Expected Behaviour
Connection should be opened.

## Current Behaviour
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

See call above.

## Context
Used the deploy-script with sudo priviledges.

## Your Environment
Linux on both ends. amd64.

[2019-03-25 19:15] alexellis commented on #51
Hi @jojomi thanks for your interest.

It looks like you may have a connectivity error as the connection is timing out and the fault is thrown from the underlying library rather than inlets.

What can you tell me about your configuration?

@johnmccabe did you see something similar when writing the Formula for brew?

Alex

[2019-03-25 19:17] jojomi commented on #51
I found my error: Remotely I supplied `--token` but I did not locally. When I added the same token when connecting, it worked.

A more helpful error message would have been great!

[2019-03-25 19:17] alexellis commented on #51
Thanks for your feedback.

PRs are welcome 😄

Alex

[2019-03-25 19:18] alexellis commented on #51
Derek close

[2019-03-25 19:18] #51 closed

[2019-03-25 19:54] johnmccabe commented on #51
@alexellis yeah I'd noticed the crash when tokens mismatched, likewise when the client xant creat it's ephemeral port. Resiliency needs some TLC.

Likewise for the cli, really could do with being able to control the debug output, for example.

[2019-03-26 08:11] #38 closed

[2019-03-26 15:06] gamma05772 opened #52 "When client corrupted,after restart client and reconnect to server,Always report timeout errors"
When client corrupted,after restart client and reconnect to server,Always  report timeout errors

[2019-03-28 17:39] alexellis commented on #52
You should restart the server at this point.

I have a fix coming up for this.

[2019-03-28 17:40] #52 closed

[2019-04-02 10:26] gedw99 opened #54 "build dist: installsuffix not needed ?"
see
https://plus.google.com/117192131596509381660/posts/eNnNePihYnK

[2019-04-02 12:13] alexellis commented on #54
Hi thanks for your interest. If you're completely confident of this, then attempt a patch but please test the resulting binary in both Ubuntu and an Alpine container.

[2019-04-15 12:56] joeblew99 commented on #54
lets park it for doing later... Its not on the main line..

[2019-04-20 00:12] mbarlow opened #57 "url query params being duplicated"
when using inlets 0.6.3, if a GET request comes through with query params they are duplicated.

## Expected Behaviour

query params should work normally

## Current Behaviour
?foo=bar becomes: ?foo=bar?foo=bar

## Possible Solution

## Steps to Reproduce (for bugs)

1. Follow instructions and run inlets on a server like digital ocean w/ caddy
2. run the client as specified in instructions: inlets

[2019-04-22 17:24] mbarlow commented on #57
removing lines: https://github.com/alexellis/inlets/blob/master/pkg/client/client.go#L138-L140 fixes the issue.

[2019-04-23 07:36] alexellis commented on #57
Hi @mbarlow thanks for the report.

I found that those lines were needed to pass on the query string. Perhaps we need a unit test?

Have you tried the PR #53?

Alex

[2019-04-28 09:39] toxsick opened #58 "Is cert-magic already implemented?"
Hi Alex,

while playing around with inlets a little bit I was wondering if the initial project goal

 is already implemented somehow? Currently not at all right?

Thanks for the awesome work!

regrads
Hannes

[2019-04-28 09:48] alexellis commented on #58
Hi Hannes,

It's still on the roadmap however I did write instructions and s tutorial about how to do this with Caddy. https://github.com/alexellis/inlets/blob/master/README.md#how-do-i-enable-tls--https

Is this of help?

Alex

[2019-04-28 10:02] toxsick commented on #58
Yeah I thought this is the case. This way I have to implement an extra logic on the server that configures caddy to also issue an certificate for every gateway domain of my inlets clients started with `--upstream  "gateway.mydomain.tk=http://127.0.0.1:3000"` right?

It would be super nice that when the client requests an upstream with a gateway domain the inlets server would then issue the certifi

[2019-04-28 10:05] toxsick commented on #58
Also [caddys license](https://caddyserver.com/products/licenses) prohibits me from using it, so i have to try something else

[2019-05-01 11:03] diego-vieira opened #59 "Install script not working"
When running `curl -sLS https://get.inlets.dev | sh` we get `Cannot GET /inlets/` because it's redirecting to `https://www.alexellis.io/inlets/`.

Maybe update the README to use `curl -sLS https://raw.githubusercontent.com/alexellis/inlets/master/get.sh | sudo sh` instead?

Thanks

[2019-05-01 12:22] alexellis commented on #59
Hi thanks for letting me know.

I'll take a look at this soon.

Alex

[2019-05-01 22:04] alexellis commented on #59
Derek close: fixed DNS settings.

[2019-05-01 22:04] #59 closed

[2019-05-09 02:37] idcrook opened #60 "Feature request: publish multi-arch docker images, for Raspberry Pi, etc."
## Expected Behaviour

expect/want this (on Raspberry Pi):
[code]
with the rest of the help message, which exhibits `inlets` running successfully. This result was achieved on amd64 Linux.

_Aside_: `Dockerfile` should probably be patch thusly:
[code]
## Current Behaviour

Anyway, instead there is an arch error on raspberry pi (Raspbian, 3B+, armv7l) when using the same docker run command:
[code]
`

[2019-05-09 03:02] idcrook commented on #60
Just noticed that the docker targets, and especially the `docker-manifest` target, in the miniflux [Makefile#L120-L150](https://github.com/miniflux/miniflux/blob/0dff43233791ae7949ea6f9a50326bbb3f3769e5/Makefile#L120-L150) show the recipe to of how annotate to images to get multi-arch "magic"‼️  That is, the image **:tag** can be just the version (without explicit arch).

I could take a pass at a

[2019-05-09 06:34] yunfan opened #61 "will you please add a --verbose command line options?"
i am tring this tool from README
and i met some problem not sure if its my enviroment or the tools
so i think i need a --verbose options to let the service print all the debug info that i need

## Expected Behaviour

add a `--verbose or -v` commandline option

## Your Environment

inlets x86 on server side
inlets arm64 on client side

[2019-05-09 08:01] alexellis commented on #61
Hi @yunfan, can I help you with the problem you saw?

Alex

[2019-05-09 08:27] alexellis commented on #60
I've made some changes and how we have:

[code]

The arm* builds were done on-device manually. It shouldn't be too hard to install tooling into travis to force a build into different architectures. The primary issue is that we need to add ca-certs and that has to be run on device or via qemu. qemu needs to be patched in the kernel of the build machine to work correctly.

[2019-05-09 08:27] alexellis commented on #60
I also updated the Dockerfile, thanks for finding that.

[2019-05-09 08:33] alexellis opened #62 "Move to teamserverless org"
## Expected Behaviour

As a heads-up I'm going to be moving inlets to the teamserverless GitHub org https://github.com/teamserverless

## Current Behaviour

Sitting in my personal account.

## Possible Solution

Once moved, you'll get redirects for the github page and I'll also need to:

* Update the Docker image name to `teamserverless/inlets:*`
* Update inlets.dev to point at the new URL
* Updat

[2019-05-09 08:34] alexellis commented on #57
@mbarlow how is this now with the 2.x release?

[2019-05-09 08:42] alexellis commented on #54
@joeblew99 happy for you to work on this, it should take only a few minutes right?

I won't be able to get to it, so let me know if you want to cover it otherwise I'll close the issue to reduce noise.

Thanks again for using inlets.

[2019-05-09 08:46] alexellis commented on #54
@gedw99 the Google Plus+ page is now down, @viveksyngh just took a look. Do you have other links?

[2019-05-09 13:01] yunfan commented on #61
@alexellis  thanks
here is my problem below in the picture

![image](https://paste.ubuntu.org.cn/i4384021)

https://paste.ubuntu.org.cn/i4384021

there're 4 pane in the window,  each i labeled with a red capital letter in ABCD

A is my vps side
B is my machine side
C is my internal service
D is the shell showing show i use that

unfortunated you could see the tunnel hasnt work
OR had i use the tun

[2019-05-09 14:13] idcrook commented on #60
Thanks. The following is successful (shows help message) on a Raspberry Pi (Raspbian, 3B+) 👍
[code]
I think I understand what you are describing about the travis-ci. In an attempt to be helpful, I found some related questions with answers  (c. 2016) on Stack Overflow about multi-arch docker, along with referecing https://github.com/travis-ci/travis-ci/issues/3376
 - [Travis Multi-Architecture Buii

[2019-05-09 19:51] alexellis commented on #61
![i4384021](https://user-images.githubusercontent.com/6358735/57482275-2738a880-729c-11e9-87c9-a46c15f9c0f4.png)

For anyone who couldn't load the link (insecure / invalid TLS)

[2019-05-09 19:52] alexellis commented on #61
What version is this? Are you using the auth token?

[2019-05-10 00:48] idcrook commented on #60
I was thinking about the ca-certificates issue that was raised and thought it might be possible to avoid the problem by using "pre-built" images. I have a branch [multi-arch-docker](https://github.com/idcrook/inlets/tree/multi-arch-docker) (have not yet submit PR with it) that creates a Dockerfile for each supported arch. These get built and published to the registry ahead of time, e.g. docker hub

[2019-05-10 00:52] yunfan commented on #61
@alexellis      its the latest version whilei post the issue  and i havnt use auth token

[2019-05-10 00:54] yunfan commented on #61
@alexellis   on my local machine side its

[code]

on my vps side its
[code]

[2019-05-10 03:56] idcrook commented on #60
In my fork https://github.com/idcrook/inlets/commit/ec8ee5973fe95f990f883d4d54b3908de5cb1c1b I have successfully demonstrated multi-arch dockerfile using the BuildKit approach. It includes built-in publishing support (refer to my docker hub [test repo](https://cloud.docker.com/repository/docker/dpcrook/inlets/tags))

These published images with pulled from docker hub,
- successfully ran `docker ru

[2019-05-10 11:08] alexellis commented on #61
Hi, I think the PR #53 by @ibuildthecloud introduced a regression for this feature.

#63 should fix this, but I can't merge until the PR gets signed-off by the author.

I'll ping you when that's done, if you want to try a manual build the patch is:

[code]

[2019-05-10 14:21] yunfan commented on #61
@alexellis thanks, i saw the pr has been aproved, and my problem should be solved now, but still i hope you could add a `--verbose` option to enable debuging infos

[2019-05-10 14:21] #61 closed

[2019-05-10 17:23] idcrook commented on #60
I was able to generate and test locally a PR that adds multi-arch docker image publishing (#64)

[2019-05-10 20:02] alexellis commented on #61
There is a new release that you can pick up now. It should resolve this problem.

They used to be very verbose logging until we switched over the implementation to use remote dialler from Darren.

What specific information would you like to see?

[2019-05-11 02:01] yunfan commented on #61
@alexellis yep it has solved that, thanks for the helpful tool

i just want it acts like debug mode enabling while using that option, so i could see everything that helps instead of post random issues :D

[2019-05-12 14:19] blackzw opened #65 "client:"panic: runtime error: invalid memory address or nil pointer dereference""
server:
1. system: ubuntu 18.04
2. install with :" curl -sLS https://get.inlets.dev | sudo sh"
3. run inlets with: " inlets server --port=18989"
4. console output: " Listening on :18989"

client:
1. system: mac x
2. install with: " brew install inlets"
3. run inlets client with: "inlets client -r <my_remote_server>:18989 -u 127.0.0.1:18990"
4. console output:

2019/05/12 22:05:29 connecting to ws:

[2019-05-12 14:30] alexellis commented on #65
Please try the version from curl/sh.

[2019-05-12 16:08] alexellis commented on #65
I can't see your upstream flag which is required. Have you read how it works in the readme?

[2019-05-16 21:11] idcrook commented on #60
PR #64 creates, tags, and pushes supported arch (`amd64`, `arm64`, and `armhf`) and multi-arch docker container images.

[2019-05-19 16:13] chenrui333 opened #66 "Homebrew `2.0.3` upgrade issue"
relates to https://github.com/alexellis/inlets/issues/37
Also relates to https://github.com/Homebrew/homebrew-core/pull/40017

When I tried to upgrade to v2.0.3, I have trouble to fix the proxy server connection issue.
[code]

Need some help to fix it.

[2019-05-19 20:43] alexellis commented on #66
Thanks for helping keep the formula up to date @chenrui333

cc @johnmccabe @ibuildthecloud

[2019-06-05 19:10] schuermannator opened #67 "Unable to Serve Multiple Upstreams"
In the client, HTTP headers are set such that subsequent upstream endpoints are overwritten, meaning you cannot have multiple upstream endpoints (the only one that functions is the last one passed in).

## Expected Behaviour
Expected to append (add) multiple upstreams to the HTTP headers.

## Current Behaviour
Overwrites the `X-Inlets-Upstream` in headers to single upstream (the last one passed in

[2019-06-05 19:17] alexellis commented on #67
Thank you for writing up a detailed report.

This definitely worked pre 2.0 where we merged a change from @ibuildthecloud to use w library for the tunnels instead of my original code.

[2019-06-05 19:19] schuermannator commented on #67
Thanks, it's a simple fix I believe. I've tested locally. Let me know if I need to do anything else for testing or if I signed correctly etc.

[2019-06-05 20:58] Thor77 opened #69 "Feature request: build with Go modules"
## Current Behaviour
Everyone wanting to build the project is forced to install and use `dep`.

## Possible Solution
Switch to [go modules](https://github.com/golang/go/wiki/Modules).

If this get's approval from a maintainer, I could open a PR implementing that change.

[2019-06-05 21:36] alexellis commented on #69
You don't need to install dep to build the project and nothing is forced upon you? What's the perceived problem with dep?

Alex

[2019-06-05 21:36] alexellis commented on #69
Derek set title: Feature request: build with Go modules

[2019-06-05 21:37] alexellis commented on #67
Derek close: issue fixed by linked PR

[2019-06-05 21:37] #67 closed

[2019-06-05 21:46] Thor77 commented on #69
It requires a `$GOPATH` setup.

[2019-06-06 10:33] alexellis commented on #69
I'm not going to move to go modules at this time and will close the issue, but it will remain in the history for tracking. I may change my mind in the near future, but right now all the OSS projects I'm maintaining use `dep` and will continue to do so until I can test and move them all over in one go.

Right now it's not a blocking problem, just a nice-to-have for some developers.

In light of thi

[2019-06-06 10:33] #69 closed

[2019-06-23 20:46] carlosedp commented on #57
I've tested this on Inlets built from source and saw no duplication. All parameters sent from server, arrive on client.

[2019-06-23 20:59] alexellis commented on #57
Thank you Carlos. I'll close it

[2019-06-23 20:59] #57 closed

[2019-06-28 20:11] alexellis commented on #58
@toxsick I often hear that people assume Caddy's license means that it cannot be used.

Caddy ships with Apache 2, is that a license you cannot use?

There is no need to use the pre-compiled binaries which can be licensed under other terms.

Does that make sense?

The example I showed with Caddy will also work with other reverse proxies such as Traefik.

Alex

[2019-06-28 20:11] #58 closed

[2019-06-28 20:12] alexellis commented on #58
https://github.com/mholt/caddy/blob/master/LICENSE.txt

[2019-06-28 20:12] alexellis commented on #58
I'm going to close the issue since this is on the roadmap. For technical support, there is a channel in the OpenFaaS Slack.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-28 20:14] alexellis commented on #29
Hi @martindekov

I think this is not working because you are getting the public IP of your work network connection, you need to use the IP of the exit node.

Set up an exit node using the scripts provided for DO or Scaleway.

Alex

[2019-06-28 20:14] #29 closed

[2019-06-28 20:14] #54 closed

[2019-06-28 20:14] alexellis commented on #54
Closing: inactive, no response from author.

[2019-06-28 20:15] alexellis commented on #37
Derek close: completed by @johnmccabe

[2019-06-28 20:15] #37 closed

[2019-06-28 20:15] alexellis commented on #66
Pinging both again: cc @johnmccabe @ibuildthecloud (PTAL)

[2019-06-28 20:17] alexellis commented on #23
Hi @Hokutosei you can try building from source with `go build`.

I'm still waiting for some changes on the PR from @rleungx 👋

Alex

[2019-06-28 20:17] alexellis commented on #13
Conceptually this should be possible now, since we made the 2.0 release which uses net/dialer and doesn't couple to a HTTP stack.

@matthiasg what protocol do you want to run over haproxy to the VM?

Alex

[2019-06-28 20:18] #24 closed

[2019-06-28 20:18] alexellis commented on #24
Please see my comment from Feb.

[2019-06-28 20:21] alexellis commented on #15
Hi, thanks for taking time to write this up.

I think this may be covered by the 2.0 release.

I'm happy to re-open if there are still problems after testing the latest version.

Alex

[2019-06-28 20:21] #15 closed

[2019-06-28 20:23] alexellis commented on #65
The version in `brew` is incompatible with the latest version. We may need to remove the instructions to use `brew` temporarily.

Please see also: #66

Can you test again using the `curl` approach on both ends of the tunnel?

cc @rgee0 could you edit the README?

Alex

[2019-06-28 20:23] #65 closed

[2019-06-28 20:24] alexellis commented on #65
Seems I jumped the gun on that. Brew does now have 2.0 available 🎉

No need to remove the option. #66 can also be closed.

[2019-06-28 20:24] #66 closed

[2019-06-28 20:24] alexellis commented on #66
Fixed in https://github.com/Homebrew/homebrew-core/pull/40460 thank you @johnmccabe

[2019-07-12 10:24] rycus86 opened #74 "Feature request: HTTP healthcheck endpoint"
Some (most) platforms require services running on them to tell if they're healthy or not. Most of these systems can periodically ping an HTTP endpoint on the services to detect if they're healthy, indicated by HTTP 200 OK, or unhealthy otherwise. I'd propose having some configuration for the server part of inlets that would enable such an endpoint.

## Possible Solution

By accepting a port number

[2019-07-14 19:33] alexellis commented on #49
https://github.com/AquiGorka/kanpo

https://github.com/rtctunnel/rtctunnel

[2019-07-22 03:08] rycus86 opened #75 "Option to keep CORS headers in the response"
We have noticed that CORS related headers, like `Access-Control-Allow-Origin`, are stripped out of the responses. When investigating, I found that the `k8s.io/apimachinery/pkg/util/proxy` package's `NewUpgradeAwareHandler` does this on purpose, when the `wrapTransport` parameter is set to `true` - as is here in inlets.

## Expected Behaviour

Our use-case would require keeping the CORS headers.

#

[2019-07-22 12:27] alexellis commented on #75
Thank you for your issue and I'm glad inlets is proving useful for you.

Please send the PR and add documentation for the flag.

Alex

[2019-07-23 06:23] coderafei opened #76 "can not import inlets package"
build error
## Expected Behaviour
build pass

## Current Behaviour
not enough arguments in call to remotedialer.ClientConnect
	have (string, http.Header, nil, func(string, string) bool, nil)
	want (context.Context, string, http.Header, *websocket.Dialer, remotedialer.ConnectAuthorizer, func(context.Context) error)

## Possible Solution
fix the params

## Steps to Reproduce (for bugs)
[code]

## Yo

[2019-07-23 06:28] coderafei commented on #76
https://github.com/rancher/remotedialer/pull/2
https://github.com/rancher/remotedialer/pull/3

[2019-07-23 07:10] alexellis commented on #76
Hi, we are not using Go modules with this project, but dep. That probably means that you are pointing at a version of the remotedialer that is newer than is tested with inlets.

This isn't an issue with inlets.

You could:

- use dep
- continue with Go modules and pin the correct version as defined in Gopkg.toml
- or propose a PR using dep to update to the version in HEAD that you are using

Alex

[2019-07-23 07:10] #76 closed

[2019-08-04 07:32] #75 closed

[2019-08-04 07:33] alexellis commented on #74
Would you be OK if this was on an "internal"-style name? i.e. `/_/health`?

You'd have to be aware that whatever endpoint we want to use, it will potentially clash with the forwarded application.

Which end of the tunnel would you like to see this?

Alex

[2019-08-04 08:22] rycus86 commented on #74
Yeah, I was originally thinking passing in the endpoint path with the parameter, because in each use case the safe, non-clashing path could be different.

I'd need this on the server side, so the server deployment can tell load-balancers and such that it's ready. Since then, we've actually done this with an Nginx in front of inlets, so the healthcheck returns 200, `/tunnel` is passed in to inlets

[2019-08-04 08:24] alexellis commented on #74
Can you share your config file here and redact the confidential bits?

[2019-08-04 08:25] rycus86 commented on #74
Yep, will do when I'm at work. :+1:

[2019-08-04 08:25] alexellis commented on #74
Can you share what you're using inlets for? Perhaps, if you can and it's interesting, we could add it to the README file? https://github.com/alexellis/inlets#what-are-people-saying-about-inlets

[2019-08-04 08:30] rycus86 commented on #74
Sure, I'll check what we can share.

[2019-08-04 08:32] alexellis commented on #46
What I'm looking for:

- a monochrome logo without text
- a logo of only text
- a combined version with the logo and text

Will use it for creating stickers, coasters and t-shirts for end-users and fans.

[2019-08-05 01:25] rycus86 commented on #74
The relevant Nginx config looks something like this:
[code]

Will try to prepare something more structured to share and link to the README. :+1:

[2019-08-07 18:18] angelbarrera92 commented on #46
Hi @alexellis

What about this one?

![imagen](https://user-images.githubusercontent.com/14357604/62647278-77351300-b950-11e9-84e3-c3ae26558a7a.png)

[inlets-logo.zip](https://github.com/alexellis/inlets/files/3478373/inlets-logo.zip)

[2019-08-11 01:33] dougnukem opened #79 "Ubuntu 16.04 - Error connecting client "http: multiple response.WriteHeader calls""
When running through the examples on a local machine I'm getting an error ( "http: multiple response.WriteHeader calls") when trying to connect the `inlets client`

Running the following services:
[code]
[code]

## Expected Behaviour
The inlets client is able to connect with the server.

## Current Behaviour
The client and server return errors when connect.

Client errors:
[code]

The server error

[2019-08-11 02:05] dougnukem commented on #79
It does appear to work correctly when run entirely on Mac OSX, and

- Mac OSX: `inlets server`
- Linux (Ubuntu 16.04): `inlets client`

But it fails when any client tries to onnect to:
- Linux (Ubuntu 16.04): `inlets server` (`go -v go1.11`)

[2019-08-11 02:23] dougnukem commented on #79
I think I found the issue....

It appears the docs were missing a trailing `/` before the `--token=xyz` so it was never passing that in for the client.

[2019-08-14 16:59] metroid09 opened #82 "Feature request: Modify host header from client"
## Expected Behaviour

I'd like to propose an option in inlets to modify the host header from the client side of the tunnel. Something like `inlets client --remote=my.remote.live:8000 --upstream=127.0.0.1:80 --host=https://my.dev.localhost` which would change the hosts header of the packets on the client machine to `Host: my.dev.localhost` for use with internal reverse proxies.
## Current Behaviou

[2019-08-14 17:45] alexellis commented on #82
The `--upstream` URL can take multiple DNS names and mappings. If you create the same name or host entry locally, it should map.

I.e.

``
--upstream="my.remote.live:8000=http://my.dev.localhost:8000"
[code]

[2019-08-14 18:21] metroid09 commented on #82
Hi Alex,

Thanks for the response. I've attempted a couple of different iterations of the upstream URL to make this work, and so far I've been unsuccessful. I'll work on getting a docker-compose file setup with a minimum configuration that will show what I'm talking about.

[2019-08-18 08:23] alexellis commented on #46
It reminds me of when you need tourist information on holiday. This was generated with a logo generation website. I'd be open to see what else can be generated?

[2019-08-19 08:04] alexellis opened #83 "Feature: Add figlet ASCII logo"
## Description

We could make the `version` / help message look better than this:

![](https://pbs.twimg.com/media/ECUKAhaW4AALnjg?format=jpg&name=medium)

By including a figlet ASCII logo as per [faas-cli](https://github.com/openfaas/faas-cli/blob/master/commands/version.go#L159)

To generate a logo you can use the `figlet` package available on most Linux package managers and in the OpenFaaS func

[2019-08-19 09:30] linuxjuggler commented on #83
Hey @alexellis , Something like this should be fine?

![Screen Shot 2019-08-19 at 12 29 47 PM](https://user-images.githubusercontent.com/27624/63254829-17f2cf00-c27d-11e9-9e94-5e8d8a698bea.png)

[2019-08-21 15:17] #79 closed

[2019-08-21 15:19] alexellis commented on #79
Glad you found the issue. Thank you for the PR!

[2019-08-23 07:28] alexellis opened #87 "[Feature/research] Pass-through proxy for TLS"
## Expected Behaviour

A use-case I have encountered several times and seen in the community is wanting to issue and then consume TLS certificates from LetsEncrypt, but on a cluster behind a firewall or NAT.

The example would be an Intel NUC or RPi cluster at home or the office. It might even be an edge device at a bank running k3s.

It has no ingress, other than through inlets, yet it can respon

[2019-08-23 12:17] rajibmitra commented on #87
Interested to work on this.

[2019-08-23 16:47] alexellis commented on #87
I see this as a fairly technical task, what's your background and experience with TLS / SNI and ACME?

[2019-08-23 16:48] alexellis commented on #87
I would like some input from the people I pinged if possible, to build some consensus in a solution and approach.

[2019-08-25 19:46] mbacchi opened #88 "Add AWS provisioning scripts for Lightsail and EC2"
This is not a bug, rather a feature request.

I've prepared two scripts to provision AWS Lightsail and EC2 instances as Inlets exit nodes. I'll open a PR momentarily for this.

[2019-08-26 17:24] c0h1b4 opened #90 "Error using the latest ARM image"
When applying/creating the deployment from the example, I get this error on the pod:

[code]

I am running a K3S cluster on ARMHF servers.

## Expected Behaviour
Successful deployment of the pod.

## Current Behaviour
I get the error on the pod and it is not launched.

## Steps to Reproduce (for bugs)
1. Using this deployment.yaml:

[code]

as suggested in the docs.

## Your Environment

* inlets

[2019-08-26 18:26] alexellis commented on #90
Thanks for reporting this.

Inlets is OSS. Do you want to debug it or to attempt a fix?

[2019-08-26 18:44] alexellis commented on #90
You have the wrong image. This is not designed for armhf.

Please can you see the README.md file for which image to use on Raspberry Pi?

Let me know if you need any more technical support. Technical support is provided by the community, for free over Slack.

[2019-08-26 18:44] alexellis commented on #90
/msg: slack

[2019-08-26 18:49] alexellis commented on #90
I've added a note for anyone else who's trying out the examples with Docker/k8s and who also missed the `-armhf` image.

![rpi](https://user-images.githubusercontent.com/6358735/63714875-91b92880-c83a-11e9-9644-14bf708a256d.png)

[2019-08-26 18:49] #90 closed

[2019-08-28 20:14] alexellis commented on #88
Hi @mbacchi

All issues should first be approved before being worked.

This is explained in the [contribution guide](https://github.com/alexellis/inlets/blob/master/CONTRIBUTING.md#guidelines)

Part of submitting a PR is acknowledging that you [have read the guide](https://github.com/alexellis/inlets/blob/master/.github/PULL_REQUEST_TEMPLATE.md) and that you agree to it.

I'm not sure where the di

[2019-08-28 20:15] alexellis commented on #82
Please provide what you've tried.

I will take a look when I have time and see if I can help you.

[2019-08-28 20:15] alexellis commented on #62
/close: lack of time

[2019-08-28 20:15] #62 closed

[2019-08-28 20:16] alexellis commented on #74
Thanks.. I'll look forward to your PR with a link to your repo or blog post.

[2019-08-28 20:17] alexellis commented on #74
This may be related to: https://github.com/alexellis/inlets/pull/73

[2019-08-31 14:15] tomkelsey opened #91 "[Question] Is Basic Auth stripped out?"
Hey,

This project looks really interesting! Hope it's okay to ask a question here?

I have a raspberry pi connected to the internet via a 4G sim card.

The raspberry pi is running a proxy server that's protected by basic auth.

If the raspberry pi had it's own public IP I'd utilise the proxy server by way of URL e.g.

http://username:password@public-ip:port

Unfortunately it's behind what I under

[2019-08-31 14:34] alexellis commented on #91
Hi there,

Thanks for th question. The answer is that I wouldn't have thought so given that OpenFaaS was tested and works when punched out with inlets.

I don't know if we've had any regression, but I'd expect it to still work.

Can you share an example of how we can try to reproduce this?

Alex

[2019-09-01 17:31] alexellis opened #92 "[Feature] Introduce control port to segment traffic"
[Feature] Introduce control port to segment traffic

## Expected Behaviour

When in place, `inlets client --remote` would point at a port which does not serve traffic at the exit node, but is simply used for the control and data plane between the two ends of the tunnel.

This segments traffic and can be used to use separate / differing TLS certificates for the serving port and the port to which th

[2019-09-03 07:36] #92 closed

[2019-09-08 04:49] yunfan opened #94 "Support question for Caddy"
i am not familliar with caddy, but i dont want to use it without any encryption , so i tried the ssl solution from README, it works except the user customer domain dont support . i dont know if its caddy's problem or inlet's ?

[2019-09-08 07:34] alexellis commented on #94
If you follow the tutorial instructions step-by-step, it works well.

You run `inlets server` and `caddy` on the same server with an IPv4 address.

It uses a HTTP01 challenge, so I can't think of any reason why it would not work for you.

Can you give me more info?

* `inlets version`
* Host for the server VM
* what exact steps I can take to reproduce the problem you're facing

[2019-09-08 07:39] alexellis commented on #91
@tomkelsey please look at my response from just over a week ago now.

[2019-09-08 07:50] alexellis commented on #94
Try:

`/etc/systemd/system/inlets.service`

`ExecStart=/usr/local/bin/inlets server --port=80 --token="${AUTHTOKEN}"`

to:

`ExecStart=/usr/local/bin/inlets server --port=8080 --token="${AUTHTOKEN}"`

Then:

`sudo systemctl daemon-reload && sudo systemctl restart inlets`

[2019-09-08 07:53] alexellis commented on #91
![Screenshot from 2019-09-08 08-52-37](https://user-images.githubusercontent.com/6358735/64485237-09615d00-d216-11e9-8682-76cdba9e59f6.png)
![Screenshot from 2019-09-08 08-52-20](https://user-images.githubusercontent.com/6358735/64485238-09615d00-d216-11e9-8bbd-5c652e38824e.png)

No issues forwarding OpenFaaS from my Intel NUC.

I'll close this issue. Please let me know if you need further help

[2019-09-08 07:53] #91 closed

[2019-09-08 07:56] alexellis commented on #94
I have this running on DigitalOcean including basic auth support.

I'll really need *more information* from you to be able to help as this worked fine for me using the guide and above.

[2019-09-08 08:40] tomkelsey commented on #91
Hi @alexellis,

Thanks for getting back to me and apologies for not following up.

I haven't had a chance yet to re-visit the issue but it looks like you've ruled out Basic Auth being an issue so thank you very much indeed for your help.

[2019-09-09 00:05] yunfan commented on #94
the version is `2.4.1` at both sides
and i think you might misunderstand this. i mean i follow the README, it works.
but only works on the specific domain. while on the other examples of README,  we could set customized domain when using inlet with upstream paramaters

for eg, my exit node's domain is `inlet.example.com`, i had a dns record on that, and by using
`inlet client -t xxx -r inlet.examp

[2019-09-16 10:39] alexellis opened #95 "[Feature] Add provisioning script which also configures Caddy"
## Description

I'd like to see a script like the one which configures a new VM and installs inlets, but that also goes one step further and adds Caddy and a generated Caddyfile for a given domain.

This would bring us even closer to a "1-click" inlets experience, with TLS.

Current file:

https://github.com/alexellis/inlets/blob/master/hack/provision-digitalocean.sh

The proposal would be to add

[2019-09-18 20:28] matthewmueller opened #96 "Server logs "suppressing panic ... context canceled" for Server-Sent Events"
Okay this is pretty minor, but as soon as I close the webpage tab, I'm noticing a suppressed panic in the log. Nothing is breaking though which is the most important ☺️

## Expected Behaviour

Non-panicky shut downs

## Current Behaviour

[code]

## Possible Solution

It's related to `http://localhost:8000/__webpack_hmr`. Webpack's dev server opens a long-running Server-Sent event stream, so when

[2019-09-18 20:39] alexellis commented on #96
@ibuildthecloud have you got any thoughts on this re: remotedialer?

[2019-09-22 17:44] joeblew99 commented on #95
Any change that all with logic can then be done at the caddy level since it protects the inlets server (s) now ?

[2019-09-24 09:09] alexellis commented on #95
I believe that Caddy can use your own CA yep.. do you want to prototype it and report back?

Just so you're aware, this issue is for LetsEncrypt.

[2019-10-01 12:49] tobru opened #101 "Information disclosure with Println leftover"
## Expected Behaviour

When starting the Inlets client with the option `--print-token=false` I would consider that the token isn't printed.

## Current Behaviour

In [`pkg/client/client.go`](https://github.com/alexellis/inlets/blob/master/pkg/client/client.go#L40) line 40 there is a unconditional `fmt.Println(headers)` which also prints the token. This then looks like this:

[code]

## Possible So

[2019-10-01 12:52] alexellis commented on #101
It looks like debug information, feel free to remove it.

[2019-10-01 13:06] #101 closed

[2019-10-07 04:31] xmclark opened #105 "Question about use case with nginx ingress"
# Problem

I am attempting to use a [pod running in GCP kube ☁️ as my inlets exit node](https://github.com/alexellis/inlets#use-your-kubernetes-cluster-as-an-exit-node) in  and a raspberry pi running inlets client that lives at my house 🏡. I am getting websocket bad handshake messages from my client like this:

`ERRO[0000] Failed to connect to proxy error="websocket: bad handshake"`

# Context/Set

[2019-10-07 08:25] dprandzioch commented on #82
@alexellis I think I have a different problem, maybe I can give some more insights. Here's the use-case:

I develop an application with host-based multitenancy, so tenant1.local, tenant2.local etc. For purposes of testing from remote machines, I use inlets to be able to access my local development environment from the outside. When requesting the application, the requested host is resolved to a te

[2019-10-07 20:18] alexellis commented on #61
👍

Thanks

[2019-10-07 20:20] alexellis commented on #82
Perhaps @ibuildthecloud may be able to make a suggestion on this? I wrote the previous tunnelling code myself but the new version has a dependency on Rancher's remotedialer package.

I'm surprised that the `--upstream=http://tenant1.local` isn't proxying with the header `Host: tenant1.local`, but I wonder what should happen in this circumstance in HTTP?

[2019-10-08 10:42] ferdinandosimonetti opened #106 "kubectl apply of operator-amd64 fails with 'no matches for kind "Deployment" in version "apps/v1beta2"'"
## Expected Behaviour
The inlet-operator should be created on my Kubernetes cluster

## Current Behaviour
After having successfully applied the Custom Resource Definition and the ServiceAccount/RBAC creation, I'm getting this error

`no matches for kind "Deployment" in version "apps/v1beta2"`

when trying to "kubectl apply" the operator-amd64.yaml

## Possible Solution
Maybe I should simply puttin

[2019-10-08 12:28] ferdinandosimonetti commented on #106
I can now confirm that **apps/v1beta2** should be replaced with **apps/v1** inside **operator-amd64.yaml** for the Inlet installation to succeed on a Kubernetes v 1.16 cluster.
I tested the Loadbalancer generation with DigitalOcean API Token, and it worked "quite" flawlessly... the first droplet failed to deploy correctly.

[2019-10-08 12:28] #106 closed

[2019-10-12 19:25] alexellis opened #109 "Use crypto/subtle for constant time comparison of auth token"
Use crypto/subtle for constant time comparison of auth token

https://golang.org/src/crypto/subtle/constant_time.go

## Current Behaviour

A regular string comparison is used

## Possible Solution

Alter this code

[code]

Use something like`if subtle.ConstantTimeCompare([]byte(auth), []byte("Bearer "+a.Token)) == 0 {` instead.

## Merge criteria

Testing e2e to show auth still works as designed w

[2019-10-12 22:35] eddiezane commented on #109
I'll take this one.

[2019-10-13 17:22] iboonox commented on #46
What about this ?

![inlets1](https://user-images.githubusercontent.com/1584813/66719351-c08d5d00-edee-11e9-8212-f4c67ebff2ba.jpg)
![intens1-2](https://user-images.githubusercontent.com/1584813/66719352-c08d5d00-edee-11e9-9e18-183152e0f595.jpg)

[2019-10-13 17:23] iboonox commented on #46
After some iterations with @alexellis

![inlets2](https://user-images.githubusercontent.com/1584813/66719368-e9155700-edee-11e9-811c-07e6fd6c1230.jpg)
![inlets3](https://user-images.githubusercontent.com/1584813/66719369-e9155700-edee-11e9-9769-59608fac09ca.jpg)
![inlets4](https://user-images.githubusercontent.com/1584813/66719370-e9155700-edee-11e9-9254-da6a4173ee99.jpg)

![Logo](https://user-ima

[2019-10-14 06:17] neoakris commented on #75
@rycus86 @alexellis
I'll soon be posting an article that mentions using inlets with nginx ingress controller, I'd like to suggest readers use this flag, but before suggesting such a thing I'm curious if there are security considerations to disabling transport wrapping.
I'll keep googling but the keywords are generic + it's niche knowledge which makes it difficult to google for an answer. + I'm not

[2019-10-15 09:35] #109 closed

[2019-10-15 09:41] #60 closed

[2019-10-15 10:50] alexellis opened #111 "Update all versions to 2.5.2 and remove armhf references"
## Expected Behaviour

Update all versions to 2.5.2 and remove armhf references

We now have multi-arch images so can remove any suffixes that have been used in the README and in scripts.

The same goes for https://github.com/alexellis/inlets-operator

[2019-10-15 10:50] alexellis commented on #111
@matevzmihalic CC

[2019-10-15 18:29] alexellis commented on #46
I'm really excited about this logo. Thank you so much 🎉

[2019-10-15 20:39] rycus86 commented on #75
Hi @neoakris
I think this is the PR that introduced the change: https://github.com/kubernetes/kubernetes/pull/9159
From that, it looks like to me that it's not about legacy clients, but more about trying to default misbehaving pods into not ever serving CORS headers - which is usually not what we'd want here with inlets.

I agree it would make a sensible default for inlets, not sure what backwards

[2019-10-16 07:09] #111 closed

[2019-10-16 21:07] csakshaug opened #113 "Option to select server ip to bind to"
On server feature, it should be an option to bind to specified IP instead of * (:) like now.

## Current Behaviour
It binds to 0.0.0.0:80 or :::8080

## Possible Solution
Add ip to bind to so we can bind to 127.0.0.1:8080 and only expose the server through caddy/nginx etc..

[2019-10-16 21:18] alexellis opened #114 "Add ADOPTERS.md"
Add Add ADOPTERS.md as per https://github.com/openfaas/faas/blob/master/ADOPTERS.md

[2019-10-16 21:18] alexellis commented on #113
That sounds like a good idea. You can also change the control-port if that's helpful for the time being.

[2019-10-17 01:18] wi1dcard opened #115 "Docker image tag inlets/inlets:2.6.0 doesn't exist"
[code]

It seems there's no `2.6.0` tag under `inlets/inlets` but only `2.6.1`. The docs should be updated.

[2019-10-17 07:27] yurivict opened #116 "main.go:4:2: cannot find package "github.com/inlets/inlets/cmd""
[code]

[2019-10-17 07:28] alexellis commented on #115
Please go ahead and update the readme

[2019-10-17 07:29] alexellis commented on #116
Hi, going to need more information than that. What is the problem, what is the OS, etc, etc.

What are you wanting as a result?

[2019-10-17 07:35] #115 closed

[2019-10-17 07:41] alexellis commented on #116
The latest stable tag release is 2.6.1, are you using that?

[code]

[2019-10-17 07:48] yurivict commented on #116
Using ```2.6.1```.
OS: FreeBSD 12.
Trying to update the inlets port.

[2019-10-17 08:08] yurivict commented on #116
It builds fine from the ```inlets/inlets``` repository, thanks!

[2019-10-17 08:28] alexellis commented on #116
Sorry for the inconvenience and thank you so much for maintaining the package.

[2019-10-20 14:54] meyerf99 opened #118 "Scaleway image not available"
## Expected Behaviour

VPS on Scaleway provider should be created successfully.

## Current Behaviour

Currently there is an FATAL error because Ubuntu image **ubuntu-mini-xenial-25g** is not available.
`FATA[0001] cannot execute 'run': failed to create server: No such image (zone ams1, arch x86_64) : ubuntu-mini-xenial-25g `

## Possible Solution

Changing image from **ubuntu-mini-xenial-25g** to

[2019-10-20 14:59] alexellis commented on #118
Hi thanks for raising the issue

I'm not currently a scaleway customer so if you want to fix this please feel free to propose that.

The DigitalOcean option is working if you want to use that.

Cc @rgee0

[2019-10-20 15:00] meyerf99 commented on #118
Hi @alexellis

I'll do a PR with the change.

[2019-10-20 15:26] alexellis commented on #118
Should we go for the cheapest Dev option?

[2019-10-20 15:57] #118 closed

[2019-10-20 15:58] alexellis commented on #118
Thank you

[2019-10-20 18:48] meyerf99 opened #120 "[Feature] Support Hetzner auto provision"
## Feature Request

It would be great to have an auto provision support for [Hetzner](https://www.hetzner.com/).
In addition to Scaleway & Digital Ocean, Hetzner also offers very cheap hosting for inlets.
Currently they support two DataCenter countries (Germany & Finland).

I would try in the next few days to get an auto provision support for Hetzner if this fits for you?

[2019-10-20 21:23] alexellis commented on #120
What sort of costs are we looking at?

If you submitted the patch would you be willing to maintain it?

[2019-10-21 09:46] hidaris opened #121 "Failed to connect to proxy due to i/o timeout (operating in China)"
I am deploying inlets on the Raspberry Pi to expose my home assistant，When running for a while，Inlets will disconnect.

## Expected Behaviour

Stay connected
## Current Behaviour

disconnect due to i/o timeout

## Context
command: `inlets client --remote wss://3a.wormhole.eliteu.cn --upstream="3a.wormhole.eliteu.cn=http://127.0.0.1:8123" --token ********`

client log: `INFO[307327] Connecting to p

[2019-10-21 10:45] alexellis commented on #121
Hi, thanks for raising the issue.

I see a suffix of .cn, could your ISP or another third-party be interfering with your connection or packets?

If the process is exiting, perhaps you could use a restart policy with systemd? https://unix.stackexchange.com/questions/507911/systemctl-what-is-the-meaning-of-restart-always

Can you give any more information?

[2019-10-21 10:46] alexellis commented on #121
@ibuildthecloud do you have any thoughts? Are there flags / behaviours in remotedialer we can play with?

[2019-10-21 10:47] alexellis commented on #120
Just a thought - there is no "auto-provision" in the inlets code, perhaps you're thinking of the inlets-operator? https://github.com/inlets/inlets-operator/

Are you thinking of a bash script like the one for DO, or the K8s operator?

[2019-10-21 10:48] alexellis commented on #114
* Banzai cloud added
* VSHN added

https://github.com/inlets/inlets/blob/master/ADOPTERS.md

[2019-10-22 04:21] hidaris commented on #121
Some server error log:
[code]
and my nginx config:
[code]
I am not sure if I am disturbed by ISP right now,  need to do some experimentation.

[2019-10-26 13:12] alexellis commented on #46
Here's the first t-shirt, next up - stickers.

https://twitter.com/alexellisuk/status/1188077598221488128?s=20

The media is in the https://github.com/inlets/media repo

[2019-10-26 13:12] #46 closed

[2019-10-29 01:19] jadsonlourenco commented on #121
I'm getting the same issue:
```ERRO[0136] Failed to connect to proxy error="websocket: close 1006 (abnormal closure): unexpected EOF"```
I don't know what is the problem, I'm running one and two client instances on kubernetes to connect to the same Inlets serve, because some times it takes few seconds to reconnect, with tow clients the second will handle quickly.

Also I have two internet links on

[2019-10-29 02:23] wi1dcard opened #124 "Translation of the docs to Chinese"
Hi team,

I've use inlets for months, and it's such a great project that using the WebSocket protocol, which can be deployed behind Kubernetes ingresses.

Today, I found there's a "gfw" tag under this repo. That makes me think this project is much much useful in China which we (I mean, I'm in China too) 1) could not get a public IP address for personal broadband service; 2) even for an enterprise

[2019-10-29 02:26] wi1dcard commented on #121
Would you please try `inlets client --remote wss://<YOUR_SERVER_IP_ADDR> ...` instead of a domain if your server or domain is undocumented (未备案)。

[2019-10-29 06:34] hidaris commented on #121
@wi1dcard Hi, I am using a domain that has already been filed.

[2019-10-29 07:28] alexellis commented on #121
@jadsonlourenco you'll need to raise your own issue because I take it you don't live in China where there are potentially networking blocking and monitoring tools at play which can cause issues for users.

[2019-10-29 13:28] jadsonlourenco commented on #121
@wi1dcard yes, I'm testing now using the **ws://IP:PORT** and solve this issue, 6h now without issue.
Using the domain it drop like in 20min. In my case I've tested with some datacenter on USA, Brazil (my country) and now on Canada, all with dedicated network on both side, my local server and on remote server, so, I have sure that is not an ISP issue.

I'm running live stream audio on the tunnel,

[2019-11-10 09:58] marcosvrs commented on #95
@alexellis are you fine if I create a PR first for the gcloud hack? I already have a working solution.

[2019-11-10 10:13] marcosvrs opened #128 "Listen to more than one port with --port parameter"
I would like to forward multiple ports to my client (80 and 443). So I can manage the reverse proxy on my client side.

## Expected Behaviour
The port parameter could accept more than one port:
`inlets server —port 80,443 —control-port 8080`

## Current Behaviour
Currently, the port parameter only accepts one port:
`inlets server —port 80 —control-port 8080`

## Context
Currently I’m running inlet

[2019-11-10 12:36] alexellis commented on #128
inlets-pro can listen to as many ports as you like and has built-in TLS for the control-port.

Feel free to take a look, it works with inlets-operator and inletsctl - https://github.com/inlets/inlets-pro-pkg

As for your Caddy example I don't follow what the problem is. Can you share the configuration you're using and how it's not working how you need it to?

[2019-11-10 14:31] marcosvrs commented on #128
My caddy is working fine. The problem is that I wouldn’t need it if inlets would listen to more than one port. But looks like I need to pay for it 😔

[2019-11-16 19:23] titanic-one commented on #83
hello We are a student in computer science and we develop for our school a site of downloading of the duty and subject in all the matter but we are jam at a level or? we want every student who connects to the site can only download two homework per day. if someone has a tutorial on it or how can it be done. thank you in advance

[2019-11-16 23:04] tad888888 opened #131 "888888"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* inlets version `inlets --version`

* Docker/Kubernetes version `docker version` / `kubectl version`:

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

[2019-11-16 23:05] parthkhosla23 commented on #131
Its usual

[2019-11-16 23:07] #131 closed

[2019-11-16 23:31] mcgregorjenny commented on #94
Good luck

[2019-11-18 14:33] jinfagang opened #134 "How to make 2 non-local network computer communicates like zerotier does?"
Thanks for this wonderful project!!

After reading about tutorial, seems inlets does, is simply make a request of server (on cloud) can be transfered to local computer. But, what if, we can make 2 computers which **not in the same local network** communicates powered by inlets, how to do that?

For reference, zerotier is doing same thing, but that is close source and not really reliable in somepla

[2019-11-18 21:51] stevesloka opened #135 "Host IP change"
Does inlets update the connection if the IP changes? For instance, if I deploy on one network, then move to another, will the tunnel between the inlets operator and the remote host be updated?

Right now I'm finding that it's not happening. What would be the process of forcing this update? Just delete the remote VM?

[2019-12-10 15:20] shrasool opened #136 "TLS oversized record error"
While trying to tunnel HTTPS traffic, I am getting a TLS error pasted below.

## Expected Behaviour

HTTPS traffic should also work with this setup.

## Current Behaviour

I have set up an inlets server using the daemon service from this [systemd service gist](https://raw.githubusercontent.com/alexellis/inlets/master/hack/inlets.service) by adjusting my port to 8080. Using a normal http nginx serv

[2019-12-10 18:17] alexellis commented on #136
Please can you give the actual steps 1-1? Thanks.

Also are you saying this is an issue only when forwarding Portainer?

[2019-12-13 16:10] Steve2955 commented on #121
I think I'm running into the same issue as well. I use Inlets to remotely access my plex server and my connection is very unstable as well:

Server:
`inlets server --port=8090 --token=XXXXXXXXXXXXXXXXXXXXXXXXXXX`
[code]

Client:
`inlets client --remote=ws://XX.XXX.XXX.XXX:8090 --token=XXXXXXXXXXXXXXXXXXXXXXXX --upstream=http://127.0.0.1:32400`
[code]

Although my client and server is restarted aut

[2019-12-14 08:07] alexellis commented on #121
Plex streaming is not the primary usecase for inlets, so it might need some optimizations for that kind of traffic pattern. What reverse proxy are you using with it? Caddy? It might also need tuning.

It's also worth trying inlets-pro which does pure L4 TCP tunnelling. You can get a free trial.

https://github.com/inlets/inlets-pro-pkg

[2019-12-14 09:14] alexellis commented on #121
Is everyone here streaming with the same software? It seems like Plex has multiple ports and protocols. https://support.plex.tv/articles/201543147-what-network-ports-do-i-need-to-allow-through-my-firewall/

[2019-12-14 14:53] Steve2955 commented on #121
I'm using inlets with nginx. This is my config:

[code]
/config/nginx/proxy.conf
[code]

Im pretty sure port 32400 is the only port required for remote access, that's the only port plex states in their troubleshooting guide: https://support.plex.tv/articles/200931138-troubleshooting-remote-access/ The other ports like the ones for DLNA are not required for remote access.

[2019-12-20 07:34] niruix commented on #121
Can we put all that `.cn` thing aside for a bit?

Since the error is related to timeout, is it possible to control the timeout duration of the underlying websocket tunnel connection?

[2019-12-21 03:49] goldalworming opened #138 "detect inlets server that has no connection in several minutes to shutdown"
hi, is it possible to detect inlets service that has no connection in several minutes. I make automatic run inlets server on empty port but no idea to close it when there is no connection for several minutes

[2019-12-23 22:55] alexellis commented on #136
Let me know?

[2019-12-23 22:56] #83 closed

[2019-12-23 22:56] alexellis commented on #83
This has been done

[2019-12-24 11:36] shrasool commented on #136
Let me re-try the setup today!

[2019-12-27 15:11] gldraphael opened #140 "Consider adding inlets to scoop for windows users"
## Expected Behaviour

(Scoop is like brew for windows; scoop buckets are like brew taps).
Windows users should be able to install inlets using scoop:

[code]

## Current Behaviour

Users need to manually download the exe from github releases and update `$PATH`.

## Possible Solution

Add a file like: https://github.com/gldraphael/scoop-bucket/blob/master/bucket/inlets.json
to [`scoop/main`](https

[2019-12-27 15:15] alexellis commented on #140
Windows users don't need to download manually, they can use the provided instructions with Git bash.

From the README:

I went to lengths to make sure it worked for Windows users.

Just use a git bash window and:

[code]

For the time being I'm not interested in maintaining a scoop repository, but am happy for you to have your own if you like?

[2019-12-27 15:18] gldraphael commented on #140
Oh makes sense, I totally missed that.
I've added inlets to my personal repo.

Thank you for that!

[2019-12-27 15:18] #140 closed

[2019-12-27 16:49] alexellis commented on #140
Let's gauge interest - I know that some users prefer chocolatey. I would accept a PR to say that inlets can install with git bash for Windows users.

[2019-12-28 08:14] gldraphael commented on #140
I prefer scoop for command line tools (eg. ffmpeg, 7z, etc.); Chocolatey for actually applications that need to get installed in Program Files. This is my preference though.

Like you mentioned, it's already in the readme. I just missed it. Since there was brew, I guess I was expecting to see scoop or choco.

[2019-12-29 22:07] Waterdrips commented on #6
think this has been done in #17

[2020-01-01 05:27] dantuluri commented on #128
Check out Alex's blog post. He highlights this to use multiple ports. At the moment it's not working for me, but will update if I do get it to work.

[2020-01-01 05:56] dantuluri commented on #128
Found another example in the main README
[code]

In either case, doesn't work for me. Here's what I'm doing, so hopefully someone can tell me if I'm doing something wrong:

**Server**:
Caddyfile:
[code]
I then get a successful response saying it's running on port 80 and 443.

**Client**
[code]
This doesn't work.

If I were to just do 1 subdomain and replace exit.domain.com with that subdomain in t

[2020-01-01 07:38] dantuluri commented on #128
Solved.
Not familiar with Caddy (normally just use Traefik or NGINX), but seems like my Caddyfile should've looked like this:

[code]

And used the same
[code]
command for client.

So far looking good. Try this if you want to use multiple ports.

[2020-01-01 15:42] #128 closed

[2020-01-01 15:46] alexellis commented on #128
Two separate topics here:

1) Will inlets listen on more than one port?

Inlets Pro listens on whatever ports you like and forwards TCP / L4 1:1 https://github.com/inlets/inlets-pro-pkg

inlets can be used with Caddy to listen on additional ports, but already separates out the control port and data port, you can just rebind Caddy to multiple ports if you want. You really have to be specific about

[2020-01-01 15:46] alexellis commented on #128
/lock

[2020-01-01 15:46] alexellis commented on #128
Locking this thread as it's gotten way off topic, please use our proper channels for technical support - either OpenFaaS Slack and the #inlets channel, or paid support via OpenFaaS Ltd

[2020-01-01 15:47] alexellis commented on #138
Hi, I don't understand what you're asking for, please can you use the proper issue template? I'll give you a few days to fill this out otherwise will be closing the issue.

Alex

[2020-01-01 15:48] alexellis commented on #138
https://raw.githubusercontent.com/inlets/inlets/master/.github/ISSUE_TEMPLATE.md

[2020-01-01 15:48] alexellis commented on #136
Cheers, let us know?

[2020-01-01 15:50] alexellis commented on #135
Hi @stevesloka please can you use the whole issue template? https://raw.githubusercontent.com/inlets/inlets/master/.github/ISSUE_TEMPLATE.md

Your report is lacking a lot of information and the template is designed to help us, help you.

This is also not the repo for the [inlets-operator](https://github.com/inlets/inlets-operator), did you mean to raise an issue here?

Looking forward to hearing m

[2020-01-01 15:52] alexellis commented on #134
Hi @jinfagang please can you fill out the whole issue template?

https://raw.githubusercontent.com/inlets/inlets/master/.github/ISSUE_TEMPLATE.md

I need more information than you've provided, thanks.

Alex

[2020-01-01 15:53] alexellis commented on #124
Hi @wi1dcard it'd be great to get more users from China and this project could help with users facing issues with gfw.

Please feel free to submit a PR of README_CN.md

Alex

[2020-01-01 15:55] #120 closed

[2020-01-01 15:55] alexellis commented on #120
@meyerf99 closing as I've not heard from you in a couple of months. Feel free to raise an issue for the operator if that's what you meant, or inletsctl which hosts the provision package for different IaaS.

[2020-01-01 15:56] alexellis commented on #95
Feel free to put something up in a repo, no need to ask for permission to try something out.

[2020-01-01 15:56] #95 closed

[2020-01-01 15:56] alexellis commented on #95
Closing as inactive

[2020-01-01 15:58] alexellis commented on #94
@mcgregorjenny what is "good luck" meant to mean?

@yunfan there's no issues with Caddy, I have it working just fine with LetsEncrypt? What are you not telling us?

Maybe if you used the issue template we could try to reproduce your problem? https://raw.githubusercontent.com/inlets/inlets/master/.github/ISSUE_TEMPLATE.md

In any case, I'll close this as it looks inactive and if you need more help,

[2020-01-01 15:58] #94 closed

[2020-01-01 15:59] alexellis commented on #105
I think this is because you're not using any authentication, use an auth token and it should work fine.

Feel free to keep commenting if you need anything else.

The inlets-operator may also be what you're looking for? https://github.com/inlets/inlets-operator

[2020-01-01 15:59] #105 closed

[2020-01-01 15:59] #23 closed

[2020-01-01 16:00] alexellis commented on #23
This has been released

[2020-01-01 16:00] #6 closed

[2020-01-01 16:00] alexellis commented on #6
Yes, please feel free to close using Derek

[2020-01-01 16:00] #13 closed

[2020-01-01 16:01] alexellis commented on #13
@matthiasg I pinged you but don't know if this got lost? It was 6 months ago so I'll close the issue. Hopefully you'll get the second message from me.

[2020-01-01 16:02] alexellis commented on #88
It'd be great to have your blog post listed in README.md, thanks for the PR, happy to link to your repo when it's ready too.

[2020-01-01 16:02] #88 closed

[2020-01-01 16:03] alexellis commented on #87
This has been completed in inlets-pro and is available for a free trial. https://github.com/inlets/inlets-pro-pkg

[2020-01-01 16:04] #87 closed

[2020-01-01 16:05] alexellis commented on #74
If you still want to work on this @rycus86 then please send a PR and I'll reopen the issue.

The /tunnel endpoint can now be served on a new control port, so we don't strictly have to worry about clashing URLs, it could be /healthz.

[2020-01-01 16:05] #74 closed

[2020-01-01 16:06] alexellis commented on #82
Are you finding this to be an issue still?

[2020-01-01 17:41] shrasool commented on #136
Let me reproduce it more generically!

[2020-01-02 07:59] matthiasg commented on #13
@alexellis must have missed that sorry. As I said I am looking to opening the node debugger protocol on a per use-case basis to debug server side code on demand without having direct access to the machine.

If websockets are supported with inlets this should work now and I will try it with this instead of rolling our own.

[2020-01-03 00:18] #135 closed

[2020-01-03 17:25] alexellis commented on #135
Let me know @stevesloka, issues can also be transferred if you got the repo wrong. I see you closed the issue but still haven't given any instructions for repro?

[2020-01-09 15:40] epalmans opened #144 "inlets server behind nginx reverse proxy"
instead of running Caddy server, I'm reverse proxying one of my subdomains to the inlets-server through Nginx (with a wildcard letsencrypt cert.).

It works pretty well actually - so as far as I'm concerened - no issue here.... 😃

But since you're encouraging use of Caddy I'm just wondering whether there might be known issues with this kind of setup using nginx?

[2020-01-09 16:31] stevesloka commented on #135
@alexellis This was probably the wrong repo and should be in the operator one, no worries my use-case is no longer needed. Thanks!

[2020-01-15 16:41] amarruedo commented on #105
Hi there!

I'm experiencing the same issue on the same scenario.

@alexellis what do you mean by "use an auth token"? Is it different from `MY_TOKEN` on the example given in the issue?

[code]

Thanks for your work and your help!

[2020-01-18 17:53] siliconhippy opened #145 "Exit Node Cloud Server for multiple Host Nodes ( home IoT devices)? Multicast?"
Hi Alex 😊

Just read about inlets from a hackaday.io post:

https://www.hackster.io/news/set-up-an-internet-gateway-network-for-your-home-using-a-raspberry-pi-and-https-tunnel-cda07174d06b

I am not very tech proficient, but from the gfw Chinese translation request, I had thoughts:

1. Can we have multiple Host Nodes served independently via the same Exit server in the Cloud?

There are a huge num

[2020-01-20 23:14] rusenask commented on #96
this is normal behavior from go standard lib, can't do much about it :)

[2020-01-21 14:41] ramaro opened #148 "Missing backtick in README.md docker section for image"
Just noticed a typo in the README.md docker image section - a missing back tick:
[code]

[2020-01-21 15:08] alexellis commented on #148
Thank you 🙏

[2020-01-21 15:09] #148 closed

[2020-01-26 06:16] burtonr opened #151 "Control Port gets set to PORT env var"
When using environment variables for the inlets server, the control port is overridden to match the port.

## Expected Behaviour

I expect to be able to pass all parameters as environment variables

## Current Behaviour

If an env var named `PORT` is used, that value will be set for *both* the port _and_ the control-port

## Possible Solution

Take the code block starting on line 99 of `cmd/server

[2020-01-26 18:30] victorhooi opened #152 "[Feature request] OAuth2 / SSO for HTTP connections"
Is it possible to integrate Inlets with some kind of authentication?

For example, check for some kind of credentials/token before allowing a connection through?

(I'm thinking of something similar to Google BeyondCorp, or Cloudflare Access etc.).

[2020-01-26 18:38] #152 closed

[2020-01-26 18:39] alexellis commented on #152
Thanks for the suggestion, this is not on the roadmap at present, but if you tell me more about how you'd expect this to work, I can give it consideration. You may well be able to do this by using another tool along with inlets such as OAuth2Proxy, Keycloak orAuth0. It doesn't really sound like a free OSS feature for the community, more of an enterprise support use-case, which if you have a budget

[2020-02-04 08:37] stevefan1999-personal opened #154 "Inlets server slapped newline into the token if retrieved from file"
## Expected Behaviour
Newlines stripped

## Current Behaviour
Example:
[code]
## Steps to Reproduce (for bugs)

1. `echo $(uuidgen) > /etc/default/inlets`
2. `inlets server --port=8090 -f /etc/default/inlets`
3. ???
4. Bug

## Your Environment

* uname -a, server: `Linux s 2.6.32-042stab128.2 #1 SMP Thu Mar 22 10:58:36 MSK 2018 x86_64 GNU/Linux`
* uname -a, client: `Linux serv 5.3.13-1-pve #1 SMP

[2020-02-04 08:51] alexellis commented on #154
I don't think the title of this issue is correct.

[code]

Your file contains the new-line, it's not added by the inlets server. `echo` always prints a new-line, that's part of its deal :-)

You should just use `echo -n`

[code]

Alex

[2020-02-04 08:53] stevefan1999-personal commented on #154
oh wait, so echo prints newline actually?!
learnt something today thx ❤️

[2020-02-04 08:53] #154 closed

[2020-02-04 08:59] alexellis commented on #154
Yep.. it is kind of weird.

What I've done though is to raise #155 because I think you still have a valid point. We are now going to trim the token for the client and the server, and if people want a token with a new-line at the end, I guess they are weird :-)

Alex

[2020-02-05 09:20] geertvanheusden opened #156 "Support request on using privileged ports"
## Expected Behaviour
When using the following docker-compose file I would expect the inlets server to be available on port 80 on the docker host:

[code]

## Current Behaviour
The container will not start and shows the following logs:

[code]

Specifying port 8080 for the inlets server and mapping it to port 80 on the host does work. The  [Dockerfile](https://github.com/inlets/inlets/blob/master/

[2020-02-05 09:31] alexellis commented on #156
/set title: Support request on using privileged ports

[2020-02-05 09:35] geertvanheusden opened #157 "Support request on having sufficient write permissions in the Docker image"
## Expected Behaviour
When using the following docker-compose file I expect an error to be handled and stored correctly.

[code]

## Current Behaviour
The error cannot be written to a file and causes the container to stop.

[code]

## Possible Solution
Change the user that executes the inlets command.

## Steps to Reproduce (for bugs)
Copy the docker-compose file above.
For me it's unclear what ca

[2020-02-05 09:38] alexellis commented on #156
As per [this thread](https://github.com/bitnami/bitnami-docker-nginx/issues/96), the reason that you cannot bind port 80 inside the container is because the image we publish is running as a non-root user. Only root can bind ports < 1024.

https://github.com/inlets/inlets/blob/master/Dockerfile#L30

In my opinion this is working as expected.

If you need further technical support, please could you

[2020-02-05 09:38] #156 closed

[2020-02-05 09:56] geertvanheusden opened #158 "Unable to use inlets without a password"
## Expected Behaviour
When no tokens are provided for both the server and the client, I can still setup a connection.

## Current Behaviour
A connection is not established

Logs on the server side:

[code]

Logs on the client side:

[code]

## Steps to Reproduce (for bugs)
Setup the server using the following docker-compose file:

[code]

Connect to it using the following command:

[code]

## Your

[2020-02-05 10:01] geertvanheusden commented on #157
The answer is probably similar as: https://github.com/inlets/inlets/issues/156#issuecomment-582321337 😉

It might be useful to mention this in the documentation...

[2020-02-06 14:23] aaronchn opened #160 "[Feature request] Add mips support"
Many common small (home) routers use MIPS architecture CPUs, especially the MIPS xxxKc series.

As the project becomes more successful, this use case will increase.
Please consider adding support for mips architecture during release.

Thanks for this project!

[2020-02-06 14:27] alexellis commented on #160
Hi @aaronchn I haven't had any requests for MIPS for any of my OSS work, but armhf and ARM64 are common, and there are ports for FreeBSD.

Would you be interested in trying to port inlets to MIPS for your own use and confirm back if it works?

Alex

[2020-02-07 03:16] aaronchn commented on #160
Although I know almost nothing about golang, I will give it a try. If there are confident results, I will report them here.

[2020-02-07 04:25] devbranchltd opened #161 "Support question on split data-plane"
My apologies in advance if this is the wrong place to ask a use-case question.

My use-case is as follows:
I'd like to serve an application running on 127.0.0.1:443 on a Raspberry Pi 4 (Raspbian buster) and be able to connect to it through localhost (eg. 127.0.0.1:9090) on a VM running in GCP.

I would like to be able to have an application running on the VM in GCP to connect through it's localhos

[2020-02-07 08:36] alexellis commented on #161
Hi @devbranchltd we take technical support via the Slack community, however your use-case sounds like a "split-plane" configuration.

The inlets client connects to public control-plane (control port 8080) and the data-plane is served on a local port which is not accessible by the Internet, but only services running on that host.

Here's a diagram [from inlets-pro](https://github.com/inlets/inlets-

[2020-02-07 08:36] alexellis commented on #161
/msg: slack

[2020-02-07 10:51] devbranchltd commented on #161
@alexellis thank you for taking the time to explain that to me, I really appreciate it.

The example sounds very similar to my use-case. We have a python application acting as a hardware proxy for connecting printers and other hardware physically connected to the Pi to a python application running in the GCP instance.

The hardware proxy is running a ramdisk partition on the Pi, for /var, /etc, /t

[2020-02-07 14:44] alexellis commented on #161
Yes the image shows K8s, but inlets/-pro can run as a binary, Docker image, or K8s Pod. I shared the image to try to show that the control-plane can be split.

inlets and inlets-pro have slightly different pros/cons and use-cases, you should be able to get the context from the comparison in the [README](https://github.com/inlets/inlets-pro), you can also get a free trial by signing up there to tes

[2020-02-07 14:44] #161 closed

[2020-02-07 19:03] Hades32 opened #162 "Question about authentication"
I must admit, I didn't try this out, but when reading the code, just to learn how all this works, I stumbled upon this:

https://github.com/inlets/inlets/blob/master/pkg/client/client.go#L29

I think this is where a check to the previously given upstream(s) should happen. Otherwise a hostile server (how improbably this may be) be able to access anything on the local machine and local network.

[2020-02-07 19:08] alexellis commented on #162
Please follow the outline for reporting suspected security issues, this does not include blaring out ideas in public.

[2020-02-07 19:09] alexellis commented on #162
https://github.com/inlets/inlets/blob/master/CONTRIBUTING.md

[2020-02-07 20:13] Hades32 commented on #162
Very funny, you just added this section

Alex Ellis <notifications@github.com> schrieb am Fr., 7. Feb. 2020, 20:09:

[2020-02-07 20:39] lwakefield opened #163 "Issues when upstream server responds with brotli encoding"
The specific error I was getting was:

[code]

## Expected Behaviour

The `inlets` server should fallback to setting the upstream `Accept-Encoding: gzip, deflate` header.

## Current Behaviour

If the upstream server supports brotli encoding and a request is made with `Accept-Encoding: br` , then `inlets` server fail when decoding the response.

## Possible Solution

If this is out of scope of `in

[2020-02-07 21:35] alexellis commented on #162
Indeed, it's called responsible disclosure, which does not require someone to write this down explicitly.

https://en.m.wikipedia.org/wiki/Responsible_disclosure

I'm not sure that what you've described is possible without someone logging into the server with ssh to deploy a malicious version of the code. At which point things are already very dire.

I do think the upstream filtering is an interes

[2020-02-08 08:08] aaronchn commented on #160
I tried to build for mips arch and it seems to work.
I have listed my build process here for those who need it.

@alexellis Thanks.

My target devic:
[code]
Build environment：
[code]
Build process：
[code]
Launch in OpenWrt：
[code]

[2020-02-08 08:38] alexellis commented on #160
Thank you for the feedback. This looks positive :+1:

If you're able to use it as expected, then could you send a quick PR and create a file in the contrib folder named `mips.md`? Please use the git command-line and run [`git commit --signoff`](https://stackoverflow.com/questions/1962094/what-is-the-sign-off-feature-in-git-for)

This feels like a natural first step, and then I'll close the issue a

[2020-02-08 08:42] alexellis commented on #160
/set title: [Feature request] Add mips support

[2020-02-08 08:54] alexellis opened #165 "[Feature] Strict upstream filtering for client"
Strict upstream filtering for client

## Expected Behaviour

Since the client provides its own list of `--upstream` hosts, there is an additional security feature we can add which would allow the client to reject requests to hosts other than those it has already specified.

## Current Behaviour

The current authorizer function is a wildcard, which allows all incoming connections to be proxied to a

[2020-02-08 08:54] #162 closed

[2020-02-08 08:55] alexellis commented on #162
I've opened an issue to track this. Thank you for letting us know, but please, in future - with whatever project you're looking at, consider what I linked you to on Wikipedia.

[2020-02-08 10:24] aaronchn commented on #160
@alexellis

My device brand is Netgear and model is 3700 v4 with 128MB RAM. See [here](https://openwrt.org/toh/netgear/wndr3700#tab__hardware_highlights) for detail. This one I bought is a cheaper second-hand one, like [here](https://www.amazon.com/gp/offer-listing/B002HWRJY4/ref=dp_olp_all_mbc?ie=UTF8&condition=all).
I'm not sure if this model is still in production, but it seems to be on [sale](

[2020-02-12 20:04] rberrelleza opened #167 "[Feature request] Healthcheck endpoint"
It would be useful to have a healthcheck endpoint in the server.

## Context
This is particularly useful when running inlets server in a dynamic environment like Kubernetes.  It can tell us when inlets is ready to take tunnels, and /or if something is wrong.

[2020-02-12 22:40] alexellis commented on #167
Can you tell me more about the problem you're trying to solve? What have you tried already?

[2020-02-13 20:49] alexellis commented on #167
Also, would you expect this port to be publicly available? How would you prevent abuse? What specifically would it show?

[2020-02-22 23:26] #124 closed

[2020-03-01 11:07] alexellis commented on #158
I am not convinced that it's a good idea to revert to unauthenticated tunnels.

What's the use-case for this?

[2020-03-01 18:58] geertvanheusden commented on #158
In our case we use inlets to expose our developers machines to the test engineers. Both are remote and connect via VPN to our data center. We run the inlets server in our data center and we provide some internal dns names like dev1.xxx, dev2.xxx, dev3.xxx,... so a developer is free to choose one of those addresses to expose something to a test engineer (in most cases this is temporarily).

Non of

[2020-03-01 22:25] craigtracey commented on #105
This tripped me up for a second as well, and I believe that this may be the result of how you have configured your Ingress. By default, nginx ingress will permanent redirect (308) from http to https. You have two options here:
- Turn off the ssl-redirect functionality (not recommended) with `nginx.ingress.kubernetes.io/ssl-redirect: "false"`
- Set your `--remote` to `wss://inets.example.com`

It w

[2020-03-10 14:44] alexellis commented on #163
Hi, thanks for using inlets.

What is `brotli` ? Can you provide a link?

In the meantime, while we wait for some additional context from you and reproduction instructions (you didn't give them for some reason?) You may prefer to use inlets-pro which does not get involved with the application layer, and proxies at L4 (TCP).

You can try it for free https://github.com/inlets/inlets-pro

Alex

[2020-03-10 17:07] lwakefield commented on #163
Apologies, I made some assumptions that I suppose I shouldn't have.

[Brotli is a newer compression algorithm](https://github.com/google/brotli) which [some browsers have begun supporting](https://hacks.mozilla.org/2015/11/better-than-gzip-compression-with-brotli/).

I'll follow this comment up with reproduction instructions / PR asap.

[2020-03-19 13:58] alexellis commented on #163
We'll monitor the levels of interest around "Brotli" and consider it on the roadmap if there is enough traction. In the time being you can use inlets PRO which does not get into the protocol, but proxies at the TCP level. I'll close the issue and track interest here.

[2020-03-19 13:58] #163 closed

[2020-03-31 11:36] GerBreOwn opened #171 "level=error msg="Remotedialer proxy error" error="dial tcp 178.128.82.167:8080: i/o timeout""
when I run inlets client with the remote = "ws://167.172.216.55:8080", the token as provided, upstream = 3 different names and IP addresses I get the above error message. This is the 3rd day and I can't figure out what the problem is. For my droplet I changed from SGP1 to SFO2. I am NOT using Docker, Kubernetes nor OpenFaas
## Expected Behaviour

I should be able to connect to my Rasberrys.

## Cu

[2020-03-31 12:56] GerBreOwn commented on #171
I now found a file /etc/default/inlet that had some old data in it such as remote IP, token etc. I changed that and now when I try to connect to my domains I get some wordpress first page. When I scroll to the bottom of the page it shows one of my OLD IP addresses. It shows this for all of my domains on DigitalOcean. This is some progress as I an not getting any error messages but still NOT my web

[2020-03-31 14:00] GerBreOwn commented on #171
All of a sudden it is working as it should!!!

[2020-03-31 14:00] #171 closed

[2020-03-31 14:46] monelgordillo commented on #145
I'm interested in knowing the answer to this as well.

[2020-03-31 18:58] #145 closed

[2020-03-31 18:59] alexellis commented on #145
Hi both, I'm not really sure what the ask is here, but you're free to experiment and feed back.

inlets OSS provides a HTTP tunnel that can have TLS added and supports websockets
inlets PRO supports any TCP traffic and has optional built-in TLS

Feel free to play around and see if you can achieve your desired results.

[2020-04-03 19:39] monelgordillo opened #173 "[Change request] For logrus format to include timestamp"
Howdy,

It would be nice to have timstamps included in these messages:

INFO[0455] error in remotedialer server [400]: websocket: close 1006 (abnormal closure): unexpected EOF
INFO[0020] Handling backend connection request [438c4528b7f649ebb21248a2a2cc2219]

[2020-04-03 20:16] alexellis commented on #173
Hi @monelgordillo

Thanks for your interest in the project.

I appreciate you are new, so may have not realised we have issue templates for a reason, but please can you fill it out as best you can anyway?

https://raw.githubusercontent.com/inlets/inlets/master/.github/ISSUE_TEMPLATE.md

Are you willing to work on a PR providing we decide to take it?

Thanks,

Alex

[2020-04-03 20:17] alexellis commented on #173
/set title: [Change request] For logrus format to include timestamp

[2020-04-05 02:45] madhukar32 opened #174 "[Change request] Support TLS on Exit node"
Currently, the initial tunnel is formed from client to the server on plain HTTP. It will be great to have HTTPS connection back to the server to form the tunnel. Also we should enable TLS for data server as well. Will be happy to push a PR

[2020-04-05 03:50] Omeryl commented on #174
If I understand what you’re asking for, inlets-pro let’s you tunnel TCP so that the other end handles all of the HTTPS termination.

[2020-04-05 04:18] madhukar32 commented on #174
what I'm requesting for is, if the inital tunnel request which goes from client to server with the token is also HTTPS

[2020-04-05 04:22] Omeryl commented on #174
Then yeah, as far as I can tell inlets-pro is what you're looking for.

[2020-04-05 09:01] #174 closed

[2020-04-05 09:01] alexellis commented on #174
/set title: Support request: how to enable TLS

[2020-04-05 09:02] alexellis commented on #174
We have instructions for adding TLS to the tunnel with the OSS project, but it's automated and built-in for inlets-pro like @Omeryl mentions. You can get a trial for free and the price for personal use is reasonable too.

[2020-04-05 09:02] #167 closed

[2020-04-05 09:02] alexellis commented on #167
Closing as inactive, not enough information/context

[2020-04-29 22:30] dm3ch opened #179 "[Feature Request] Add interspect proxy"
It would be very useful to have interspect proxy and local WebUI to view requests history, like ngrock does.

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* inlets version `inlets --version`

* Docker/Kubernetes version `docker version` / `kubectl version`:

* Operating System and version (e.g. Li

[2020-05-11 17:00] nimamahmoudi commented on #157
I have the same issue here. Maybe we could write the logs to another folder. The default container run command should not break with the first network error that happens, or are we doing something wrong?

[2020-05-11 20:01] alexellis commented on #157
## On binding to low ports:

I'm a bit concerned that you're binding port 80 to the Internet, this implies you are using an insecure tunnel. It's recommended to bind to localhost on a higher port and use a tool like Nginx or Caddy to add TLS in front. Alternatively you might like to use inlets PRO.

## On logs

`/tmp/` should not be read-only or only accessible by root.

In Kubernetes we add a `tm

[2020-05-11 20:01] #157 closed

[2020-05-11 20:02] alexellis commented on #157
/set title: docker-compose support request

[2020-05-11 20:11] alexellis commented on #157
Try something like this:

[code]

[2020-05-11 20:27] #179 closed

[2020-05-11 20:28] alexellis commented on #179
Thanks for the suggestion. I would suggest you use [an intercepting proxy](https://mitmproxy.org) for the time being, and I'll consider the feature for an enhanced edition of inlets.

[2020-05-11 20:29] alexellis commented on #173
@monelgordillo It's been a month since I commented on your issue, would you like to follow-up, or close the issue?

[2020-05-11 20:46] #173 closed

[2020-05-11 20:47] #151 closed

[2020-05-11 20:47] alexellis commented on #151
Closing as inactive, happy to review a PR for this.

[2020-05-11 20:48] #160 closed

[2020-05-11 20:49] alexellis commented on #160
Closing this request for the time being. Let's gauge interest on the platform.

[2020-05-11 20:50] alexellis commented on #144
Any reverse proxy should work fine. Caddy can be achieved with about 2-5 lines of a simple DSL. If you prefer Nginx, go ahead. There's even a contrib example in the repo.

Alex

[2020-05-11 20:50] #144 closed

[2020-05-11 20:50] alexellis commented on #144
/msg: slack

[2020-05-11 20:51] #134 closed

[2020-05-11 20:51] alexellis commented on #134
Closing as inactive.

inlets PRO may be useful for what you're asking. Feel free to apply for a trial https://docs.inlets.dev/

[2020-05-11 20:51] #121 closed

[2020-05-11 20:52] alexellis commented on #121
Closing as inactive.

[2020-05-11 20:53] alexellis commented on #158
I have concerns about reintroducing the ability _not to set a token_. Why don't you use just a hard-coded value?

And if you're interested in working across multiple protocols and standards, check out inlets PRO, it's particularly well suited for this and support is available. https://docs.inlets.dev/

[2020-05-12 06:27] geertvanheusden commented on #158
Using a hard-coded value is fine by me!

[2020-05-12 07:09] alexellis commented on #158
I do think this is a little insecure. So use --token and an agreed upon value, that's shared with everyone.

If you're interested in talking about a professional solution where each engineer has their own token and you still run a single server email alex@openfaas.com

[2020-05-13 08:33] #158 closed

[2020-05-13 08:34] #138 closed

[2020-05-15 09:15] #113 closed

[2020-05-15 11:06] #165 closed

[2020-05-22 10:54] ngxson commented on #114
Just a small (off-topic) question: I made a repo for deploying inlets to heroku (with click-to-deploy button for easier setup). Can it be added as a community tutorial? Thank you.
https://github.com/ngxson/inlets-heroku

[2020-05-22 11:35] alexellis commented on #114
Sure, please do. Is this [based upon / inspired by my work with heroku](https://github.com/alexellis/inlets-heroku-tutorial)?

[2020-05-22 11:53] ngxson commented on #114
No, I made from a template which support click-to-deploy to heroku. The inlets' binary also included in the repo, so it make setting up process very straightforward, specially for newbies.

[2020-05-22 13:15] alexellis commented on #114
It would be better if you didn't commit the binary into your repo and have the user fetch it each time.

You should find a section in the README for your link, feel free to send a PR and thank you for answering the questions.

[2020-06-02 08:23] tanc commented on #163
I'm also bumping into this issue where an app is responding with brotli compression and inlets is failing with a read error.

[2020-06-02 08:27] tanc commented on #163
I was able to get around the issue by manipulating the request header in Caddy (v2):

[code]

This overwrite the `Accept-Encoding` header to remove `br`

[2020-06-08 07:08] manuschillerdev opened #183 "Technical support request"
I use inlets to make local dev-servers available to the internet via kubernetes.

My config (note: dev-playground.mydomain.tld was changed since I don't want the URL to be public here).

[code]
I then connect to my exit node with:
[code]

That works fine for a lot of apps, even with hotreloading enabled (e.g. for `npx create-next-app`)

But:

If I create a Vue App with:
[code]

and expose it
[code

[2020-06-08 08:40] alexellis commented on #183
Hi,

It sounds like you would benefit from using inlets PRO which is a pure TCP tunnel, feel free to try it out with a free 14-day trial.

if you would like someone to take a look, can you create a small GitHub repo with all the assets and instructions on how to reproduce the error? You may also want to *change the port* for the data and control-plane of inlets. Expose either through two separate

[2020-06-08 08:42] alexellis commented on #183
There's definitely a few things wrong here.

When you use `--upstream="http://localhost:8080` <- that isn't going to work if you're running inside a container, because all you're doing is accessing the container's own local networking.

Also -> `--upstream="https://192.168.5.165:8080"` <- are you running TLS separately on your webpack local server?

[2020-06-08 09:21] manuschillerdev commented on #183
thanks for the quick reply! The local dev-server does not run in a container, so localhost is correct here.
After rereading the issue I think I descibed it way too complicated :)

Two problems:
1. The host header does not get redirect through the tunnel properly. Hence I have to disable the host check in webpack-dev-server to get it running.
2. Calls to the hot-reloading server are not routed prop

[2020-06-08 09:40] alexellis commented on #183
You shared a Kubernetes YAML file showing that the server *does run in a container* - what am I missing?

[2020-06-08 10:04] manuschillerdev commented on #183
the `--upstream` flag is on the `inlets client` command, not on the server. I run this locally on my machine as I run the webpack-dev-server locally.

[2020-06-08 10:12] manuschillerdev commented on #183
These are headers arriving at my local server:

On the left via playground.mydomain.cloud, on the right if I request the server locally.
<img width="1173" alt="Bildschirmfoto 2020-06-08 um 12 08 11" src="https://user-images.githubusercontent.com/56154253/84018805-bcffa500-a980-11ea-9cdd-6aeb8f6bb9db.png">

Maybe this is related to: https://github.com/inlets/inlets/issues/82 ?

[2020-06-08 11:51] alexellis commented on #183
Is there a reason why you are running webpack with HTTPS?

[code]

[2020-06-08 11:55] alexellis commented on #183
I'll put this on my list and see if @Waterdrips has time to try to reproduce the issue you're seeing.

Have you tried this setting in the server pod?
[code]

As I mentioned in my initial reply, I believe you may be better off using inlets PRO. Feel free to apply for a free 14-day trial - it's a pure TCP load-balancer, so you're unlikely to run into issues.

Here are a couple of examples:

https://

[2020-06-08 12:22] Waterdrips commented on #183
I would expect `Invalid Host header` unless you have set it to serve for `0.0.0.0` or your domain. The dev servers usually have some localhost protection stuff, and the `X-Forwaded-Host` might be checked too.

[code]
unless you have the local server setup for https with a cert for `dev-playground.mydomain.tld` `http` should be used. (As alex mentioned)

I don't know how vue does hot reloading so c

[2020-06-08 13:41] manuschillerdev commented on #183
@alexellis @Waterdrips
thanks again for your time and responses!

I never used --upstream like you cited here in any of my snippets :)

I only tried adding that as last resort for the websocket calls additionally to webpack. Webpack itself always ran on localhost:8080 without https

`inlets client --remote=wss://dev-playground.mydomain.tld --upstream="http://localhost:8080,https://192.168.5.165:80

[2020-06-08 13:43] alexellis commented on #183
I suggested that you try inlets PRO. You don't seem to be acknowledging the suggestion?

[2020-06-08 13:58] manuschillerdev commented on #183
inlets PRO is without any doubt a great product, thanks for your hard work on it!
But for now I want to try to solve this issue with the regular inlets version first, since the only real issue seems to be the rewriting of the host header.

unfortunately this still leaves the invalid host warning from webpack.

[2020-06-08 14:34] manuschillerdev commented on #183
I got it to work.

setting the `public` option in the `devServer` config to the url of my playground solves the hotreloading issue :)

[code]
Adding `nginx.ingress.kubernetes.io/upstream-vhost: localhost` solves the issue regarding invalid host for me.

Would be cool, if we could set this rule in ingress dynamically. Is this possbile with inlets by passing an option?

[2020-06-10 07:16] manuschillerdev opened #184 "Add option to send auth headers"
If the exit node uses basic auth we can not connect to it with the client, since there is no possibility to send additional auth headers.

## Expected Behaviour
we could introduce the possibility to add additional headers to the `inlets client` command, so we can authenticate against basic auth.

## Current Behaviour
it is not possible to send additional headers with `inlets client` and therefore

[2020-06-10 08:53] alexellis commented on #184
This does not sound correct? OpenFaaS is an example of an application that provides basic auth and works well with inlets.

If you need deep customisation, may I suggest that you evaluate inlets PRO, which provides a pure TCP load-balancer? There you can do whatever you like. https://docs.inlets.dev/#/pricing/?id=pricing

[2020-06-10 08:53] #184 closed

[2020-06-11 19:55] manuschillerdev opened #185 "All logging output is outputted at stderr"
The logging from inlets client seems to occur on stderr rather than stdout.

## Expected Behaviour
only errors should appear on stderr, regular logs should be on stdout.

## Current Behaviour
see above

## Possible Solution
none

## Steps to Reproduce (for bugs)
start an inlets client, and pipe the output from stdout and stderr to separate files:
[code]

let it run for a little while to fill the f

[2020-06-12 18:10] manuschillerdev commented on #185
didn't know that this was the standard for go applications. Sorry - closing the issue.

[2020-06-12 18:10] #185 closed

[2020-07-12 14:21] #183 closed

[2020-07-27 06:38] rt1410201 commented on #136
Hi

[2020-08-24 20:33] AntoBud opened #191 "Multiple clients connecting to a single server"
I am wondering if it is possible to connect multiple inlet-clients to a single inlet-server?

If so, how are the multiple clients managed on the server-side?

Thanks,

[2020-08-25 08:07] #191 closed

[2020-08-25 08:08] alexellis commented on #191
Hi @AntoBud we take support requests and questions through Slack on the #inlets channel. Happy to chat with you there.

There's a few patterns we have for when you need many different clients to dial back to a single exit-server or cluster.

[2020-08-25 08:08] alexellis commented on #191
/msg: slack

[2020-09-02 10:40] WalBeh opened #192 "Exit server and client running in k8s"
I am trying to run the exit server and the inlets client inside kubernetes to connect to an internal resoucrce (a service running in a bare-metal VM) outside k8s.

To verify the connection to the exit server (running in k8s), I run the following command from my laptop, which allows me to connect to the internal resource:

[code]

[code]

### Exit server
[code]
### inlets client
[code]
### service

[2020-09-05 17:28] bibarrav commented on #192
Hi, can you explain a little bit you use case?, you mention that you have exit-node and client running on the same K8s cluster, but you want to access an internal service on a bare metal setup?, can you share the client logs?

The client component needs to be in the remote site, running in the bare metal server or another server close to it.

[2020-09-06 08:10] alexellis commented on #192
Hi @WalBeh I am struggling to understand the topology here, can you give a more explicit example?

Given the "i/o timeout" messages, do you know of any network blocking tooling or restrictions in place at your place of work which may be causing interruptions? Are you connected to a VPN perhaps?

If the client can see the server's IP address over the network, then there should be absolutely no reas

[2020-09-08 12:21] WalBeh commented on #192
You are absolutely right. I just thought I could have it run side-2-side. In that case an ingress would also do the job.

[2020-09-15 08:04] #192 closed

[2020-09-18 19:27] marcosvrs opened #196 "Add latest Docker Tag"
Add new latest Docker Tag for multiple use cases:

* Always get the latest version when creating the docker container.

* Allow the users to use docker pull inlets/inlets without receiving the error: manifest for inlets/inlets:latest not found.
* Allow the use of services like containrrr/watchtower to keep the containers always up to date.

## Your Environment
Environment: Ubuntu 18.04.4 LTS; Dock

[2020-09-20 09:01] alexellis opened #197 "Use buildx for Docker images instead of current method"
Use buildx for Docker images instead of current method

## Expected Behaviour

We should be able to push images to GHCR which unlike the Docker Hub, is not rate-limited for downloads.

## Current Behaviour

It fails when the manifest is pushed and an issue has been logged with the GitHub team.

https://github.community/t/open-etc-docker-certs-d-ghcr-io-permission-denied/130620/4

## Possible Solut

[2020-09-25 05:43] mcuix opened #199 "Update the documentation to show simple user cases."
Update the documentation to show simple user cases. For example connecting a Raspberry Pi 4 to a VPS, listing any limitations.
The current documentation requires the user to dig deep. Split instructions between ON REMOTE VPS and ON CLIENT.

[2020-10-08 18:10] klarose opened #200 "Command line option for server ca certificate"
## Expected Behaviour
I'd like to be able to run an inlets server in an environment where I do not have a publicly signed TLS certificate (e.g. when testing, self hosting, etc). A simple way to allow for this is to be able to tell the inlets client to validate the server using a provided CA certificate.

## Current Behaviour
The inlets client fails to connect to the server.

## Possible Solution
A

[2020-10-08 18:29] alexellis commented on #200
Thank you for the suggestion.

I think you should have a look at inlets PRO, it has a built-in CA. This is one of the differentiators on the PRO edition.

[2020-10-08 18:29] #200 closed

[2020-10-08 18:34] alexellis commented on #200
One more suggestion for your use-case is to add the CA to your trust-store where you're running the inlets client, that'd also work fine.

[2020-10-15 23:45] ehudkaldor opened #202 "How is Inlets secured?"
apologies for not using the template, but it's more of a question than a problem. Here goes:
how is the tunnel secured?

it probably sounds like silly question, but i could not find it in the docs or even in the code. and for now PRO is not something i can consider.

the README.md says `The tunnel link is secured via --token flag using a shared secret`, which makes me thing it does encrypt the con

[2020-10-16 01:05] securisec commented on #91
@alexellis Sorry to bring up an old issue, but i am running into this also. I am running inlets behind Traefik with a basic auth middleware, and am getting a 401 also. I tried setting the username and password as part of the wss remote url, with and without stripping the basic auth header, but cant seem to get it to work. Any suggestions?

[2020-10-16 10:26] alexellis commented on #91
@securisec I see you deleted your comment?

I guess you got it working? :-)

By the way, you should take a look at inlets PRO which has built-in TLS termination, and can expose Traefik itself, making it much easier to integrate to your infrastructure.

[2020-10-16 10:26] #202 closed

[2020-10-16 10:28] alexellis commented on #202
Hi @ehudkaldor, thanks for your interest in inlets.

Authentication is via HTTP header on the control plane. The inlets OSS control-plane does not include TLS out of the box, but it's trivial to enable that using a reverse proxy and we do provide instructions.

However, as you're in doubt, then I would suggest you use [inlets PRO](https://github.com/inlets/inlets-pro) so that you get TLS out of th

[2020-10-16 10:29] alexellis commented on #202
Why is that? It sounds like just what you need, in that it automates the parts you are uncertain on how to do yourself. So you get to lean on our expertise vs. trying to work it all out on your own.

[2020-10-20 20:42] dirien opened #203 "Openstack/STACKIT Support"
## Openstack Support

inlets is really a cool project, and we (here at the Schwarz Group) would like to use on our own cloud provider STACKIT (https://stackit.de/en/). Openstack is the engine of STACKIT.

On addition, Kubernetes is a big building block for the future and and i think inlets will help the developers in many area of their work.

To use inlets, it would be sweet to support Openstack/S

[2020-10-20 21:19] alexellis commented on #203
Hi @dirien thanks for this issue and I'm glad to hear that you're finding inlets useful.

I wonder if this was meant for the inlets-operator repo?

I'd be interested in hearing more if you're open to emailing me at alex@openfaas.com?

Alex

[2020-10-21 04:21] dirien commented on #203
hi @alexellis,

i thought  for both , for the ctl (what i did  now) and for the  inlets-operator too.

I will write you an mail too.

[2020-10-26 12:19] alexellis commented on #199
Hi @mcuix sorry to hear that you found it confusing to setup inlets.

I am not sure how you missed it, but we have a very detailed documentation site with lots of examples, and helper tools like inletsctl which will automate everything for you.

https://docs.inlets.dev/

Feel free to suggest specifics which you feel are not covered.

Closing the issue as resolved.

[2020-10-26 12:19] #199 closed

[2020-10-26 12:19] alexellis commented on #199
/set title: Support request

[2020-10-27 12:17] dstotijn commented on #82
I think the behavior of inlets server and remotedialer to leave the `Host` header untouched is expected default behavior for reverse proxies. Adding a `--host-header` option to inlets to rewrite it, similar to what ngrok has, would be a nice new feature.

@metroid09 @dprandzioch I've also had the need to rewrite the `Host` header because my local app expected a specific address that didn't match t

[2020-10-27 12:20] alexellis commented on #82
Hi @dstotijn thank you for your interest.

It sounds like you may benefit from using inlets PRO, where you get a pure TCP stream, and can do whatever you like. In effect, your Caddy instance runs on your client / laptop, as pure as it gets.

Alex

[2020-10-27 12:23] alexellis commented on #82
Here's a quick example: https://docs.inlets.dev/#/get-started/quickstart-caddy

Pros: it's all automated, no hacking on config files, no messing about on the server. Everything runs on your client so you can delete a server and recreate it at any time. The control-plane web socket is also encrypted by default.

Another example: https://blog.alexellis.io/expose-grafana-dashboards/

[2020-10-27 12:26] alexellis commented on #82
I'm still struggling to understand the use-case here.

You have two sub-domains, both point at different local servers?

[code]

Why doesn't that work? The HTTP server / API on `tenant1.local:8080` will receive a HTTP request, and the domain will be as published `tenant1.example.com`

Why is that a problem? Help me understand? A full example where I can reproduce this would be most helpful.

[2020-10-27 12:27] alexellis commented on #82
@metroid09 your use-case sounds like it would benefit from using a pure TCP proxy, so that you can run that Nginx instance locally, and not on the exit-server. See my comments above, you can try it out for free for 14 days.

[2020-10-27 12:39] dstotijn commented on #82
Here's what I believe the use case is of the issue author, and something I've also had to deal with occasionaly:
* HTTP service running on local computer is very picky about the `Host` HTTP header of incoming requests. E.g. it will redirect/deny any reqs that don't have `Host: my.dev.localhost`.
* The exit server is not being accessed via `my.dev.localhost` of course, but on a FQDN that's publicly

[2020-10-27 12:48] dstotijn commented on #82
My usage has been pretty minimal and sporadic so far (and non-work/team) so the OSS version of inlets manually configured on a VPS I already had has been good enough and is working really well. But I'll keep PRO in mind if I ever need more from it. 👍

[2020-10-27 13:33] alexellis commented on #82
Thanks for ELI5 the use-case here, I think I get it now, I just don't get why the OP has that issue as I've never run into it. I also checked, and even with domain mapping in the `--upstream` flag in inlets OSS, the original name of the exit-server does get passed through.

<img width="3008" alt="Screenshot 2020-10-27 at 13 26 16" src="https://user-images.githubusercontent.com/6358735/97308602-f4e

[2020-10-27 13:51] dstotijn commented on #82
Indeed. The `Host` header header getting passed through as-is (e.g. `www.example.com` in your screenshot), which is expected and desired for most users. Typically a local web service/upstream doesn't have any logic dependent on a specific `Host` HTTP header and there is no issue; that's likely why you've never run into it.

But if the local app is picky about the `Host` or you have some internal p

[2020-10-27 13:57] alexellis commented on #82
I would suggest two paths forward for the feature request.

1) use [inlets PRO](https://inlets.dev/) and run Nginx or Caddy close to where the traffic is (on the internal server) instead of on the exit-server, which is meant to be stateless. In this way your exit-server needs no maintenance, and can be deleted / re-created at any time with no configuration on the host.
2) request this feature as a

[2020-11-03 12:12] anirudhbagri opened #206 "Single Inlet Server with Multiple Inlets Client ->> Duplicate Requests"
Hi there,

I have configured an inlets server on public IP and have 2 machines (to balance load) which are running my python project.
I have configured inlets client (exact same configuration) on both the machines and now the inlets server is sending messages to both the clients and duplicate requests are processed.

Is this an expected behaviour or I have missed some configuration?
Is there any c

[2020-11-03 12:15] #206 closed

[2020-11-03 12:15] alexellis commented on #206
Closing this issue as you haven't bothered to fill out the template. We will reconsider if you take the effort to do what's asked of you in the template.

[2020-11-03 12:16] anirudhbagri commented on #206
I have updated the issue with suggested template.

[2020-11-03 12:25] alexellis commented on #206
You have missed some sections. You'll need to populate everything.

[2020-11-03 13:00] anirudhbagri commented on #206
I have updated the issue.

[2020-11-03 13:13] alexellis commented on #206
We need full instructions in "Steps to Reproduce (for bugs)" along with:
* the Python commands you ran (Are you using SimpleHTTPServer or something elsE)
* The curl commands you ran (exactly)
* What DNS entries you set up

[2020-11-03 14:33] jsiebens commented on #206
Hi @anirudhbagri

I have just tried to reproduce this based on what we know by your description.
The requests are only handled by the first client that has connected. I don't see any duplicated requests.

If you could give us some more information about your setup, we can give it another try to get it reproduced

[2020-11-11 17:47] utsavanand2 opened #207 "Move builds from Travis to Github Actions"
## Expected Behaviour

We should move to Github Actions for all our builds.

## Current Behaviour

We're running all our CI builds using Travis CI

## Possible Solution

PR in the works.

[2020-11-11 17:47] utsavanand2 commented on #207
/assign: me

[2020-12-08 06:29] rohrit opened #209 "Question: performance of inlets server"
Are there any performance data available on the number of inlets clients that can connect to an inlets server and number of requests than can be handled by the inlets server from the serving side?

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

## Your Environment

[2020-12-08 08:09] alexellis commented on #209
Some more context is required, however if you're looking for raw performance inlets PRO will suit you better. We would suggest you evaluate whether either solution is for you but testing your real world application.

[2020-12-08 08:09] #209 closed

[2020-12-08 08:09] alexellis commented on #209
/set title: Question how many clients can connect?

[2021-01-26 11:55] tanc commented on #13
@alexellis sorry to post on a closed thread but just wanted to check whether Inlets supports proxying websockets in the free version? For example if I have Caddy V2 proxying everything back to inlets should the upstream server be receiving websockets?

[2021-01-28 20:13] #207 closed

[2021-01-29 00:57] zenzx commented on #46
This is very cool!!!

[2021-01-29 08:08] alexellis commented on #46
Thank you

[2021-02-05 12:36] #197 closed

[2021-02-05 12:37] #196 closed

[2021-02-05 12:37] #136 closed

[2021-02-05 12:37] #96 closed

[2021-02-05 12:37] #82 closed

[2021-03-06 10:06] vincentdyleung opened #217 "Quickstart tutorial doesn't use the control port specified for the server in the inlets client --url argument"
Quickstart tutorial uses port 8001 as the inlets server control port, however inlets client doesn't specify the port in the --url argument, therefore the default port 80 is used, causing problems in the inlets client.

## Expected Behaviour

Quickstart tutorial should use below as the inlets client command:
`inlets client  --url ws://$EXIT_SERVER_IP:8001  --upstream=$UPSTREAM  --token=$TOKEN`

##

[2021-03-06 13:15] #217 closed

[2021-03-06 13:16] alexellis commented on #217
Thanks for the note. I've updated this now, but imagine most people are using inlets PRO now for its built-in HTTPS and TCP support.

[This weekend there's 30 USD off a 12 mo license](https://twitter.com/alexellisuk/status/1368130276166168576?s=20)

[Get a secure HTTPS tunnel with Let's Encrypt](https://inlets.dev/blog/2021/02/11/secure-letsencrypt-tunnel.html)

[2021-03-22 10:21] mzihin91 opened #218 "Server misbehaving"
Unable to connect to the exit server if inlets client is behind proxy and is running using daemontools.

## Expected Behaviour

If I run the client normally in the command line, everything works, but if I run the script using daemontools, it fails to connect to the exit server. If I run the script using the daemontools but in a different network (no proxy) is also working fine.

## Current Behavio

[2021-03-22 13:45] alexellis commented on #218
I'm sorry you're having difficulties. I have no idea what daemontools is, but it sounds like the root cause of your issues. I would suggest you use systemd or a docker container instead.

You may want to look at getting inlets PRO for personal use which has a generation command for the client and server along with built in TLS negating the need for your reverse proxy.

I'm going to close the issue

[2021-03-22 13:45] #218 closed

[2021-03-23 01:28] mzihin91 commented on #218
Thank you for the help. I have tested using systemd and it gives the same error. Also, I am using Caddy as the reverse proxy in the exit server (cloud vm) which provides TLS and handles the subdomains. On the other side, the inlets client is behind the company's proxy.

[2021-03-23 07:53] mzihin91 commented on #218
I got it to work by setting the environment variable: http_proxy and https_proxy using the envdir command if using daemontools

[2021-03-24 09:10] alexellis commented on #218
If you're using inlets for commercial purposes you may want to look at [inlets PRO](https://inlets.dev) which has built-in Let's Encrypt support and load-balancing of clients, and no need for reverse proxies or [becoming a sponsor for inlets on GitHub](https://github.com/sponsors/inlets) to help us maintain the project and give support to users like this.

[2021-04-07 06:49] Dentrax opened #219 "consider print more logs about connection status"
## Expected Behaviour
[code]

## Current Behaviour
[code]

## Possible Solution
I was just wondering if we could print a new log here just after the connection successfully established.
We can add 3 dots to end of the `Connecting to proxy` log. i.e. `Connecting to proxy...`

## Steps to Reproduce (for bugs)
1.
[code]
2. See the `Connecting to proxy` log

## Context
This info message `Connecting to

[2021-04-07 06:53] Dentrax commented on #219
See: https://github.com/inlets/inlets-pro/issues/24

[2021-04-07 06:53] #219 closed

[2021-04-09 07:51] rollwagen opened #220 "Typo/duplicate "to create" in README.md"
## Expected Behaviour
Readme.md/About inlets "inlets uses a websocket to create a tunnel between a client and a server."

## Current Behaviour
Readme.md/About inlets "inlets uses a websocket to create to create a tunnel between a client and a server."

## Possible Solution
Remove duplicate

## Steps to Reproduce (for bugs)
n/a

## Context
n/a

## Are you a GitHub Sponsor for inlets?

* No

## Your

[2021-04-09 18:08] #220 closed

[2021-04-09 18:08] alexellis commented on #220
Thanks for the feedback.

If you're interested we have a promo on for inlets PRO this weekend "pay whatever you want" - https://gumroad.com/l/inlets-pro-personal-6mo

[2021-05-16 10:22] alexellis commented on #114
Do also see https://inlets.dev for other testimonials and adopters.

[2021-06-14 13:53] barroudjo opened #222 "using inlets behind an outbound proxy"
It seems to me the current version doesn't support outbound proxies (I didn't see any option to configure the inlets client to use one, and no mention of `http_proxy` in the source code).
ngrok does by the way: https://ngrok.com/docs#outbound-proxy.

So I assume this use case is not covered yet ? Or maybe there is a hidden option ?

[2021-06-14 14:40] alexellis commented on #222
Hi @barroudjo we have an issue template that we encourage users to fill out before we can offer support or help.

Could you do that please?

HTTP proxies are supported in inlets PRO, you can try it out for free or buy a personal license. Personal licenses can be used at work. https://inlets.dev/

Alex

[2021-06-14 14:40] #222 closed

[2021-06-14 15:56] barroudjo commented on #222
The question is so simple I thought we could bypass the template... And you understood it since you gave the answer for inlets PRO. So why not answer it for inlets NOT pro ?

[2021-06-24 14:52] barroudjo commented on #222
OK so for anyone looking for the answer: inlets (NOT pro) does NOT support outbound proxies, at least through the `http_proxy` environment variable.
I would love to fix that, but can't since I don't know Go...

[2021-07-08 08:15] deepak1725 opened #223 "Install Fails if shasum package is not preinstalled in user system"
Command:
`curl -sLSf https://inletsctl.inlets.dev | sudo sh`

Fails with Error:
`main: line 107: shasum: command not found`

## Expected Behaviour
The command should try to Install `shasum` binary if not present

## Current Behaviour
`command fails with non zero status code`

## Possible Solution
Not sure

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/inlets
- [ ] Ye